<extend name="Public/table" />

<block name="adminuser">
    <li class="active open">
</block>

<block name="addadminuser">
    <li class="active">
</block>
<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>
<!-- action="<{:U('AdminUser/doAdd')}>" -->
<!-- enctype="multipart/form-data -->
<block name="content">
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form"  method="post" onsubmit = "return check()">
    <input type="hidden" name = "id">
   <div class="form-group" style="height:50px;margin-top:20px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 用户名 :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="name" id="aname" placeholder = "请输入用户名" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>

        <div class="form-group" style="height:50px">
            <label for="" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 密　码 :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="password" placeholder = "请输入密码" id="pwd" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>

        <div class="form-group" style="height:50px">
            <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 确认密码 :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="repassword" id="repwd" placeholder = "请输入确认密码" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>

        <div class="form-group" style="height:50px">
            <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right"> 邮箱 :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="email" id="email" placeholder = "请输入正确的邮箱"  class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
            <div style="width:500px;text-align:center;margin-top:-10px;">
            <label for="form-field-select-1" style="margin-left:-50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 角色 :</label>
           
            <select name = "role_id" class="form-control" id="form-field-select-1" style="width:340px;margin-left:260px;margin-top:-25px;"> 
            <option value="">请选择.....</option>
            <foreach name='data' item='v'> 
              <option value="<{$v['id']}>"><{$v.role}></option>      
            </foreach> 
            </select>
        </div>  
      
            <div  class="form-group" id = "sex" style="height:50px;font-size:17px;margin-top:30px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">性别 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="sex" value="1" checked="">女
                  <input type="radio" style ="margin-left:10px;" name="sex" value="2" >男
                  <input type="radio" style ="margin-left:10px;" name="sex" value="3" >保密
                  </span>
                </div>
          </div>

      <!--    <div class="form-group" style="height:50px">
            <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 文件上传 :</label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="file" name="file" id="" class="width-100" />
                </span>
            </div>
        </div> -->
        <div class="clearfix form-actions" style="margin-top:10px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    确认添加
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新填写
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>

    </form>
</block>
<block name="tablejs">
<script src = "__PUBLIC__/layer/layer.js"></script>
<script type="text/javascript">
  //定义变量 用于验证
 var  admin_n,admin_p,admin_r,admin_e;
     window.onload = function checkinfo(){

        //用户名验证
        $('#aname').change(function(){
            var aname = $('#aname').val();
            //alert(aname.length);
            if (aname.length>3 || aname.length<10) {
                $.ajax({
                    url:"<{:U('AdminUser/action')}>",
                    type:'POST',
                    data:'aname='+aname,
                    success:function(data){
                        // alert(data);
                       if (data==1) {
                         layer.tips('用户名已存在','#aname',{
                            tips:[2,'red'],
                            time:2000
                         });
                         admin_n = false;
                       }else{
                        layer.tips('用户名可以使用','#aname',{
                            tips:[2,'green'],
                            time:2000
                        });
                        admin_n = true;
                       }
                    }
                });
            }else{
                layer.tips('用户名长度必须在3-10位之间','#aname');
            }
        });


       //密码验证
       $('#pwd').change(function(){
             var pwd = $('#pwd').val();
            // 
            if (pwd.length>6 && pwd.length<20) {
                admin_p = false;
               layer.tips('密码可以使用','#pwd',{
                tips:[2,'green'],
                time:2000
               });
               admin_p = true;
            
            }else{
                layer.tips('密码长度必须在6-20为之间','#pwd',{
                    tips:[2,'red']
                });
            }
       });

       //验证确认密码是否与密码相符合
       $('#repwd').change(function(){
            var repwd = $('#repwd').val();
            if (repwd==$('#pwd').val()) {
                layer.tips('确认密码正确','#repwd',{
                  tips:[2,'green']
                });
                admin_r = false;
            }else{
                layer.tips('确认密码与密码不符合','#repwd',{
                 tips:[2,'red']
                });
                admin_r = true;
            }

       });


       //验证邮箱
       // $('#email').change(function(){
       //    var email = $('#email').val();
       //     alert(email);
       //     // var myreg = /^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+/; 
       //    if (email == ''){
       //       layer.tips('邮箱不能为空','#email',{
       //          tips:[2.'red'],
       //          time:2000
       //       });
          }
          // else if(!myreg.test(email)){
          //   layer.tips('请输入有效的邮箱地址','#email',{
          //       tips:[2,'red'],
          //       time:2000

          //   });
          // }else if(checkEmailIsExist()){
          //     layer.tips('该有效已被注册','#email',{
          //       tips:[2,'red'],
          //       time:2000

          //   });
          // }else{
          //     layer.tips('邮箱可以使用','#email',{
          //       tips:[2,'green'],
          //       time:2000

          //   });
          //     admin_e = true;
          // }

        // });
        // $('#email').change(function(){
        //     var email = $('#email').val();
        //     var reg = /^[0-9a-z]+@[a-z]{2,3}[\.][a-z]{2,3}$/i;
        //     if(reg.test(email)>0){
        //         layer.tips('邮箱格式正确！','#email',{
        //             tips:[2,'green'],
        //             time:2000
        //         });
        //         // 验证邮箱正确时返回true
        //         is_right_e = true;
        //     } else {
        //         layer.tips('邮箱格式错误！','#email');
        //         is_right_e = false;
        //     }
        // });

      


 }
    

</script>

</block>
