<extend name="Public/table" />


<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('AdminUser/save')}>" method="post">
    <input type="hidden" name = "id" value = "<{$data.id}>">
   <div class="form-group" style="height:50px;margin-top:20px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 用户名 :</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="name" id="" class="width-100" value="<{$data.name}>"/>
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div>
        <!-- <{:dump($data)}> -->
               <div class="form-group" style="height:50px">
            <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right"> 邮箱 :</label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="email" name="email" id="" class="width-100" value="<{$data.email}>"/>
                    <i class="icon-leaf"></i>
                </span>
            </div>
        </div> 
            <div  class="form-group" style="height:50px;font-size:18px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">性别 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="sex" value="1" <if condition="$data['sex'] eq '1'">checked</if> >女
                  <input type="radio" style ="margin-left:10px;" name="sex" value="2" <if condition="$data['sex'] eq '2'">checked</if> >男
                  <input type="radio" style ="margin-left:10px;" name="sex" value="3" <if condition="$data['sex'] eq '3'">checked</if> >保密
                 
                  </span>
                </div>
          </div>
           <div style="width:500px;text-align:center;margin-top:-10px;">
            <label for="form-field-select-1" style="margin-left:-50px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 角色 :</label>
           
            <select name = "role_id" class="form-control" id="form-field-select-1" style="width:420px;margin-left:260px;margin-top:-25px;"> 
            <foreach name='rolelist' item='v'> 
              <option value="<{$v['id']}>"<if condition = "$list[0]['id'] eq $v['id']">selected</if> ><{$v.role}></option>      
            </foreach> 
            </select>
        </div>  
        <div style="margin-top:30px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    确认修改
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新修改
                </button>
            </div>
            </div>

        <div class="hr hr-24"></div>

    </form>
</block>