<!-- <extend name="AdminUser/index" /> -->
<extend name="Public/table" />

<block name="user">
    <li class="active open">
</block>

<block name="adminuser">
    <li class="active">
</block>

<block name="content">

<form action="">
    <input type="hidden" name="id" value"<{$data.id}>">
   用户名： <input type="text" name="name" value"<{$data.name}>">
     性别：
     <input type="text" name="sex" value"1" <if condition = "$data.sex eq 1"></if>>女
     <input type="text" name="sex" value"2" <if condition = "$data.sex eq 2"></if>>男
     <input type="text" name="sex" value"3" <if condition = "$data.sex eq 3"></if>>保密
     邮箱： <input type="text" name="emial" value"<{$data.email}>">
    <input type="submit" value = "{submit}">
</form>
</block>