<extend name="Public/table" />


<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
<div class="table-header"><small><{$stitle}></small></div>
  <!-- <{:dump($_SESSION['admin_info']['id'])}> -->
   <div class="col-xs-12 col-md-offset-1">
      <div class="hr dotted"></div>
       <div id="user-profile-1" class="user-profile row">
        <div class="col-xs-12 col-sm-3 center" style = "width:250px;height:200px;margin-top:23px;">
            <span class="profile-picture">
                <div style="width:200px;height:220px;border:1px solid #ccc">
              <img id="avator" class="editable img-responsive" style = "width:250px;height:220px;" alt="请选择您的头像" src="__ROOT__/<{$data['hpic']}>" />
            </div>
                <div class="space-4"></div>
                <div class="site-demo-upload">
                    <div class="site-demo-upbar">
                        <input type="file" name="file" class="layui-upload-file" lay-title="修改头像">
                    </div>
                </div>
            </span>
            <div class="space-4"></div>

            <div class="width-100 label label-info label-xlg arrowed-in arrowed-in-right">
                <div class="inline position-relative">
                    <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-circle light-green middle"></i>
                        &nbsp;
                        <span class="white"><{$data.name}></span>
                    </a>
                </div>
            </div>
        <div class="space-6"></div>
    </div>
    <div class="col-xs-12 col-sm-7">
        <div class="space-12"></div>

        <div class="profile-user-info profile-user-info-striped" style="font-size:17px;">
            <div class="profile-info-row" style = "height:30px;">
                <div class="profile-info-name"> 用户名 </div>

                <div class="profile-info-value">
                    <span class="editable" id="name"><{$data.name}></span>
                </div>
            </div>

            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 性别 </div>

                <div class="profile-info-value">
                    <span class="editable" id="sex">
                      <if condition = "$data.sex eq '1'">女
                        <else if condition = "$data.sex eq '2'">男
                        <else />保密
                     </if>
                    </span>
                </div>
            </div>

            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 手机号 </div>

                <div class="profile-info-value">

                    <span class="editable" id="phone"><{$data.phone}></span>
                </div>
            </div>   
            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 邮箱 </div>

                <div class="profile-info-value">

                    <span class="editable" id="email"><{$data.email}></span>
                </div>
            </div>
            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 角色 </div>

                <div class="profile-info-value">
             <!-- <{:dump($adminrole)}> -->
                    <span class="editable" id="role">
                   <{$adminrole[0]['role']}>
                    </span>
                </div>
            </div>

            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 爱好 </div>

                <div class="profile-info-value">
                    <span class="editable" id="like"><{$data.like}></span>
                </div>
            </div>

            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 注册时间</div>

                <div class="profile-info-value">
                    <span class="editable" id="createtime"><{$data['createtime']|date='Y-m-d',###}></span>
                </div>
            </div>

            <div class="profile-info-row"  style = "height:30px;">
                <div class="profile-info-name"> 简介 </div>

                <div class="profile-info-value">
                    <span class="editable" id="introduction"><{$data.introduction}></span>
                </div>
            </div>
        </div>
    </div>      
</block>
<block name="tablejs">
<script src="__PUBLIC__/layui/layui.js"></script>
    <script type="text/javascript"> 
    // 上传文件
    layui.use('upload', function(){
        layui.upload({
            url: "<{:U('Admin/AdminUser/updateAvator',array('id' => $data['id']))}>" //上传接口
            ,method: 'post'
            ,data:1
            ,before: function(input){
                //返回的参数item，即为当前的input DOM对象
                layer.msg('文件上传中.....', {
                    icon: 16
                    ,shade: 0.01,
                    time:0,
                });
            }
            ,success: function(res){ //上传成功后的回调
                layer.closeAll();
                $('#avator').attr('src','__ROOT__/' + res);
            }
        });
});  
</script> 
</block>