<extend name="Public/table" />

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
<!-- <{:dump($data)}> -->
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('Picture/dopic')}>" method="post" enctype="multipart/form-data">
    <input type="hidden" name = "id" value = "<{$data.id}>">
   <div class="form-group" style="height:50px;margin-top:20px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 图片上传:</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="file" name="file" id="" class="width-100"/>
                </span>
            </div>
        </div>
        <div class="clearfix" style="margin-top:10px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    确认修改
                </button>
                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新修改
                </button>
            </div>
        </div>
        <div class="hr hr-24"></div>
    </form>
</block>
