  

   <link rel="stylesheet" href="__PUBLIC__/public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="__PUBLIC__/Public/css/profile.css" type="text/css" />
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" />
<div class="layui-tab layui-tab-card">
  <ul class="layui-tab-title">
    <li class="layui-this">我关注的吧</li>
  </ul>
  <div class="layui-tab-content" style="height: 390px;">
    <div class="layui-tab-item layui-show">
    <table class = "table table-bordered table-hover table-condensed table-striped">
      <tr>
        <th>吧名</th>
        <th>经验值</th>
        <th>吧等级</th>
        <th>取消关注</th>
      </tr>
      <tr>
        <td>励志</td>
        <td>1</td>
        <td>有志之士</td>
        <td><a href="">√</a></td>
      </tr><tr>
        <td>励志</td>
        <td>1</td>
        <td>有志之士</td>
        <td>√</td>
      </tr><tr>
        <td>励志</td>
        <td>1</td>
        <td>有志之士</td>
        <td>√</td>
      </tr>
    </table>
    </div>
  </div>
</div>
<script src="__PUBLIC__/public/js/jquery.min.js"></script>
<script src="__PUBLIC__/public/js/bootstrap.min.js"></script>     
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>

