 <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" />
 <div class="layui-tab layui-tab-card">
  <ul class="layui-tab-title">
    <li class="layui-this">修改密码</li>
  </ul>
  <div class="layui-tab-content" style="height: 390px;">
  <div class="layui-tab-item layui-show">    
  <form class="layui-form" action="<{:U('Profile/dopwd')}>" onsubmit = "return check()" method="POST">
   <div style="margin-top:60px;margin-left:150px;"> 
   <h1 style="margin-top:-30px;font-size:20px;margin-left:140px;">修改密码</h1>
       <input type="hidden" name="id" value="<{$list['id']}>">
        <div class="layui-form-item" style="margin-top:20px;">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
          <input name="name" lay-verify="name" autocomplete="off" class="layui-input" type="tel" value="<{$list['name']}>" disabled>
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-inline">
          <input name="password" id="password" lay-verify="password" autocomplete="off" class="layui-input" type="password">
        </div>
      </div>    
      <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-inline">
          <input name="newpwd" id="newpwd" lay-verify="newpwd" autocomplete="off" class="layui-input" type="password">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">确认密码</label>
        <div class="layui-input-inline">
          <input name="repwd" id="repwd" lay-verify="repwd" autocomplete="off" class="layui-input" type="password">
        </div>
      </div>
      <div class="layui-form-item">
        <div class="layui-input-block">
          <button class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
      </div>
  </div>
  </form>  
  </div>
</div> 
<script src="__PUBLIC__/public/js/jquery.min.js"></script>
<script src = "__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
   // 对密码进行验证
    var pwd_p,pwd_n,pwd_r;
   window.onload = function checkinfo(){
    //对原密码进行验证 
     $('#password').change(function(){
      var password = $('#password').val();
      $.post("<{:U('Profile/oldpwd')}>",{'oldpwd':password},function(res){
          if (res == true) {
               layer.tips('原密码正确','#password',{
                tips:[2,'green'],
                time:2000
               });
               pwd_p = true;
            }else if(res == false){
                layer.tips('原密码不正确','#password',{
                    tips:[2,'red']
                });
                  pwd_p = false;
            }
         })
     });   
      //对新密码进行验证 
     $('#newpwd').change(function(){
      var newpwd = $('#newpwd').val();
          if (newpwd.length>4 && newpwd.length<20) {
               layer.tips('密码可以使用','#newpwd',{
                tips:[2,'green'],
                time:2000
               });
               pwd_n = true;
            
            }else{
                layer.tips('新密码长度必须在5-20为之间','#newpwd',{
                    tips:[2,'red']
                });
                  pwd_n = false;
            }
     });
       // 验证确认密码与密码是否一致
      $('#repwd').change(function(){
              var repwd = $('#repwd').val();
              if (repwd==$('#newpwd').val()) {
                  layer.tips('确认密码正确','#repwd',{
                    tips:[2,'green']
                  });
                  pwd_r = false;
              }else{
                  layer.tips('确认密码与密码不符合','#repwd',{
                   tips:[2,'red']
                  });
                  pwd_r = true;
              }

         });
    }
     function check(){
      if ((pwd_p == true) && (pwd_n == true) && (pwd_r == true)) {
        return true;
      };
     }


    layui.use('element', function(){
      var $ = layui.jquery
      ,element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块
      
      //触发事件
      var active = {
        tabAdd: function(){
          //新增一个Tab项
          element.tabAdd('demo', {
            title: '新选项'+ (Math.random()*1000|0)
            ,content: '内容'+ (Math.random()*1000|0)
          })
        }
        ,tabDelete: function(){
          //删除指定Tab项
          element.tabDelete('demo', 2); //删除第3项（注意序号是从0开始计算）
        }
        ,tabChange: function(){
          //切换到指定Tab项
          element.tabChange('demo', 1); //切换到第2项（注意序号是从0开始计算）
        }
   };
  
    $('.site-demo-active').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });

  layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form()
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
  //创建一个编辑器
  var editIndex = layedit.build('LAY_demo_editor');
 
  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    ,pass: [/(.+){6,12}$/, '密码必须6到12位']
    ,content: function(value){
      layedit.sync(editIndex);
    }
  });
});

 </script>