<extend name="Public/table" />
   <block name="main">
   </block>   
<block name="content">
<style type="text/css">
    body{
        background: #fbfbfb;
    }
</style>
<div class="gl_note">
<span><{$title}>>><span style="color:#828282;font-size:12px"><{$stitle}></span></span>
<hr>
<!-- <{:dump($rolelist)}> -->
    <div class="row">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>帖子名</th>          
                            <th class="hidden-480">发布时间</th>
                            <th class="hidden-480">作者</th>
<!--                             <th class="hidden-480">本吧等级</th>
                            <th class="hidden-480">最近登录</th> -->
                            <th>操作</th>
                        </tr>
                    </thead>

                    <tbody>
                        <foreach name="data" item="v">
                        <!-- <{:dump($v)}> -->
                            <tr>
                               <td>
                                     <{$v.title}>
                                </td>
                                <td class="hidden-480"><{$v.createtime|date="Y-m-d H:i:s",###}></td>                               
                                <td class="hidden-480"><{$v.louzhu.name}></td>
<!--                                 <td class="hidden-480"></td>                              
                                <td class="hidden-480"><{$v.user.logintime|date="Y-m-d H:i:s",###}></td> -->
                               </td>
                                <if condition="$v['is_show'] eq 1">
                                <td>
                                <!-- <{:dump($v['isfine'])}> -->
                                <if condition="$v['isfine'] eq 1">
                                  <a href="<{:U('Note/isfine',array('id'=>$v['id']))}>"><button id="isfine" class="btn-xs btn-success">加精</button></a>
                                <else />
                                  <a href="<{:U('Note/nofine',array('id'=>$v['id']))}>"><button id="nofine" class="btn-xs btn-warning">取消加精</button></a>
                                </if>
                                <if condition="$v['istop'] eq 0">
                                  <a href="<{:U('Note/istop',array('id'=>$v['id']))}>"><button id="isfine" class="btn-xs btn-success">置顶</button></a>
                                <else />
                                  <a href="<{:U('Note/notop',array('id'=>$v['id']))}>"><button id="notop" class="btn-xs btn-warning">取消置顶</button></a>
                                </if>
                                  <a href="<{:U('Note/noshow',array('id'=>$v['id']))}>"><button id="del" class="btn-xs btn-danger">删除</button></a>
                                </td>
                                </if>
                            </tr>
                        </foreach>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> <!-- gl_note 最外层 -->
</block>

<block name="tablejs">
    <script type="text/javascript">
        jQuery(function($) {
            var oTable1 = $('#sample-table-2').dataTable( {
            "aoColumns": [
              null, null, null,
              { "bSortable": false }
            ] } );
            
            
            $('table th input:checkbox').on('click' , function(){
                var that = this;
                $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function(){
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });
                    
            });
        
        
            $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('table')
                var off1 = $parent.offset();
                var w1 = $parent.width();
        
                var off2 = $source.offset();
                var w2 = $source.width();
        
                if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
                return 'left';
            }
        })
    </script>
</block>

