<extend name="Public/table" />

<block name="link">
    <li class="active open">
</block>

<block name="addlink">
    <li class="active">
</block>
<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
 <div class="table-header"><small><{$title}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('Link/doAdd')}>" method="post" enctype="multipart/form-data">
   <div class="form-group" style="height:50px;margin-top:20px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 友情链接标题:</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="linktitle" id="" placeholder = "请输入标题" class="width-100" />
                </span>
            </div>

        </div>

        <div class="form-group" style="height:50px">
            <label for="" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 友情链接网址 :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="linkurl" placeholder = "请输入网址" id="" class="width-100" />
                </span>
            </div>
        </div>     
         <div class="form-group" style="height:50px">
            <label for="" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 友情链接内容 :</label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                   <textarea name="desc" id="" cols="40" rows="5" maxlength="30"></textarea>
                </span>
            </div>
        </div>  
        <div class="clearfix" style="margin-top:50px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    确认添加
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新填写
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>

    </form>
</block>