<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Login/css/login.css">
    <link rel="stylesheet" href="__PUBLIC__/Public/css/my.css">
    <script type="text/javascript" src="__PUBLIC__/Public/js/jquery.min.js"></script>

</head>
<body>
<img src="__PUBLIC__/Public/image/bj10.jpg" alt="" width="100%" height='1000'>
<div class="zhuce_body">
	<!-- <div class="logo"><a href="#"><img src="__PUBLIC__/Public/image/logo.gif" width="114" height="54" border="0"></a></div> -->
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>欢迎注册</h3>
       	  	  <form action="<{:U('Login/doReg')}>" method="post" onsubmit="return check();">
                <input name="uname" type="text" id="uname" class="kuang_txt phone" placeholder="用户名"><span></span>
                <input name="password" type="password" id="pwd" class="kuang_txt possword" placeholder="密码">
                <input name="rpassword" type="password" id="rpwd" class="kuang_txt possword" placeholder="确认密码">
                <input name="email" type="text" id="email" class="kuang_txt email" placeholder="邮箱">
                <input name="yzm" type="text" id="yzm" class="kuang_txt yanzm" placeholder="验证码">
                <div>
                	<div class="hui_kuang">
                    <img src="<{:U('Login/yzm')}>" id="verify" width="150" height="31" title="点击刷新" style="cursor:pointer">
                    </div>
                </div>
                <div>
               		<input name="" type="checkbox" value=""><span>已阅读并同意<a href="#" target="_blank"><span class="lan">《XXXXX使用协议》</span></a></span>
                </div>
                <button type="submit" class="btn_zhuce">注册</button>
                
                </form>
            </div>
        	<div class="bj_right">
            	<p class="mt50">使用以下账号直接登录</p>
                <a href="https://ssl.zc.qq.com/chs/index.html" class="zhuce_qq">QQ注册</a>
                <a href="http://www.weibo.com/signup/signup.php" class="zhuce_wb">微博注册</a>
                <a href="https://open.weixin.qq.com/cgi-bin/readtemplate?t=regist/regist_tmpl&lang=zh_CN" class="zhuce_wx">微信注册</a>
                <p>已有账号？<a href="login.html">立即登录</a></p>    
            </div>
        </div> <!--zc--> 
    </div><!--zhuce_kong-->

</div>
<script src="__PUBLIC__/layer/layer.js" charset="utf-8"></script>
<script type="text/javascript">
    // 定义变量，用于验证表单，当所有的值都为true时表单才可以提交
    var is_right_n,is_right_p,is_right_rp,is_right_e,is_right_y;
    window.onload = function checkinfo(){
        // console.log($('input')['0']);
        $('#uname').change(function(){
            var uname = $('#uname').val();
            // alert(uname.length);
            if(uname.length<6 || uname.length>12){
                layer.tips('账号长度必须在6-12位之间', '#uname');
                // var url = "<{:U('Login/test')}>";
            } else {
                // ajax返回匹配的数据，如果该用户名存在返回1，不存在返回0
                $.ajax({
                    type:"POST",
                    url:"<{:U('Login/test')}>",
                    data:"name="+uname,
                    success:function(data){
                    if(data == 1){
                        layer.tips('账号已存在', '#uname',{
                            tips:[2,'red'],
                            time:2000
                        });
                        is_right_n = false;
                    } else {
                        layer.tips('账号可以使用', '#uname',{
                            tips:[2,'green'],
                            time:2000
                        });
                        // 验证表单是否可以提交
                        is_right_n = true;
                    }
                }
                })
            }              
        });
        // 匹配输入的密码是否符合要求
        $('#pwd').change(function(){
            var pwd = $('#pwd').val();
            if(pwd.length<6 || pwd.length>20){
                layer.tips('密码长度必须在6-20位之间', '#pwd');
                is_right_p = false; 
            } else {
                layer.tips('密码可以使用', '#pwd',{
                    tips:[2,'green'],
                    time:2000
                });
                // 用于验证表单能否提交                             
                is_right_p = true; 
            }
        });
        // 验证两次输入的密码是否相同
        $('#rpwd').change(function(){
            var rpwd = $('#rpwd').val();
            if(rpwd != $('#pwd').val()){
                layer.tips('两次输入的密码不同', '#rpwd');
                is_right_rp = false; 
            } else {
                layer.tips('两次输入的密码相同', '#rpwd',{
                    tips:[2,'green'],
                    time:2000
                }); 
                // 相同返回true            
                is_right_rp = true; 
            }
        });
        // 邮箱验证
        $('#email').change(function(){
            var email = $('#email').val();
            var reg = /^[0-9a-z]+@[a-z]{2,3}[\.][a-z]{2,3}$/i;
            if(reg.test(email)>0){
                layer.tips('邮箱格式正确！','#email',{
                    tips:[2,'green'],
                    time:2000
                });
                // 验证邮箱正确时返回true
                is_right_e = true;
            } else {
                layer.tips('邮箱格式错误！','#email');
                is_right_e = false;
            }
        });
    }

    // 点击验证码图片刷新验证码
    $('#verify').click(function(){
        $('#verify').attr('src',"<{:U('Login/yzm')}>");
    });

    // ajax验证验证码
    $('#yzm').change(function(){
        $.ajax({
            type:"POST",
            url:"<{:U('Login/checkyzm')}>",
            data:"yzm="+$('#yzm').val(),
            success:function(data){
                // alert(data);
                if(data == 1){
                    // layer.tips('验证码正确!','#yzm',{
                    //     tips:[2,'green'],
                    //     time:2000
                    // });
                    is_right_y = true;
                } else {
                    layer.tips('验证码错误！','#yzm');
                    is_right_y = false;
                }
            }
        });
    });

    // 当所有的信息填写无误的时候才可以提交表单
    function check(){
        if((is_right_n == true) && (is_right_p == true) && (is_right_rp == true) && (is_right_e == true) && (is_right_y == true)){
            return true;
        }else{
            alert('注册信息有误，请填写完整后提交！');
            return false;
        }
    }
</script>
</body>
</html>