<extend name="Index/head" />

<block name="main">
   
<link rel="stylesheet" href="__PUBLIC__/public/css/style.css" type="text/css" /> 
<link rel="stylesheet" href="__PUBLIC__/public/css/mystyle.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/public/css/bootstrap.min.css" />

<div class="container">
    <!-- 第一部分 轮播图和热门话题 -->
    <div class="index_per index_first clearfix">
        <div class="sidebar_per sidebar_first">
            <dl>
                <dt>
                <a href="js.html?/" class="more">更多&nbsp;<span class="more-sign">&gt;</span></a>
                <strong>我的贴吧<span class="name-en">/BAR</span></strong>
                </dt>
                <div class = "bar_warp">
                    <div class = "bar_warp_all">
                    <div class  = "bar_img">  
                        <a href=""><img style="width:100px;height:100px;" src="__PUBLIC__/Public/image/qi.jpg" alt=""></a>
                    </div>
                     <div class = "bar_list">
                       <ul>
                           <li><div class = "crown"></div></li>
                           <li><a href="">邓紫棋9999</a></li>
                       </ul>  
                       <ul>
                           <li><div class = "dou"></div></li>
                           <li><a href="">0[获取]</a></li>
                       </ul>
                    </div>
                    </div>
                    <div class = "bar_love">
                        <span><a href=""><b>爱逛的吧</b></a></span>
                        <a href=""><div></div></a>
                    </div>
                    <div class = "bar_love_list">
                        <button><a href="`">励志</a><div></div></button>
                        <button><a href="`">励志</a><div></div></button>
                    </div>
                   
                </div>
              
            </dl>
        </div>
       
        <div class="index_left clearfix">
            <img style = "width:180px;height:250px" src="__PUBLIC__/Public/image/1_left.jpg" alt="" />
            <div class="banner" id="banner">
                <div class="row">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="__PUBLIC__/Public/image/1.jpg" alt="...">
                                <div class="carousel-caption">
                                ...
                                </div>
                            </div>
                            <div class="item">
                                <img src="__PUBLIC__/Public/image/2.jpg" alt="...">
                                <div class="carousel-caption">
                                ...
                                </div>
                            </div>
                            ...
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
               <!--  <ul id="index_banner"> 

                    <li>
                        <a target="_blank" href="js.html?/0-0-52-0-0-0">
                            <img alt="响应式模板" src="__PUBLIC__/Public/image/1.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="js.html?/22-0-0-0-0-0">
                            <img alt="商城,特卖模板" src="Public/images/other/mall.jpg">
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="js.html?/53-0-0-0-0-0">
                            <img alt="404模板" src="Public/images/other/404.jpg">
                        </a>
                    </li>
                </ul> -->
                <!-- <div class="banner_page" id="banner_page"></div> -->
                <!-- <a class="banner_page_btn banner_page_left" id="banner_page_left"></a> -->
                <!-- <a class="banner_page_btn banner_page_right" id="banner_page_right"></a> -->
            </div>
        </div>
    </div><!-- index_per index_first clearfix -->

    <!-- 第二部分 贴吧推荐 和 贴吧分类 -->
    <div class="index_per clearfix">
        <!-- 右边 -->
        <div class="sidebar_per sidebar_second">
            <dl>
                <dt>
                    <a href="js.html?/0-0-0-6-0-0" class="more" target="_blank">更多&nbsp;<span class="more-sign">&gt;</span></a>
                    <strong>贴吧分类 <span class="name-en">/Recommend</span></strong>
                </dt>
            </dl>
            <volist name="typehead" id="tp">
                <div class = "bar_rec">
                    <!-- <div class = "rec_img"><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><img style = "width:100px;height:100px;"src="__UPLOAD__/<{$sug['hpic']}>" alt="" /></a></div> -->
                    <div class = "rec_list">
                        <ul>
                            <li><a href="" target="_blank"><strong>☆<{$tp['name']}></strong></a></li>
                                <ul class="type_one">
                                    <volist name="types" id="typ">
                                        <!-- <{:dump($typ['pid'])}> -->
                                        <if condition="$typ['pid'] eq $tp['id']">
                                            <li><a href=""><{$typ['name']}></a></li>
                                            <!-- <li><a>yyyy</a></li> -->
                                        </if>
                                    </volist>
                                    <!-- <li><a>中国</a></li> -->
                                </ul>
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['attention']}></a></li> -->
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['count'][0]['count']}></a></li> -->
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['title']}></a></li> -->
                        </ul>
                    </div>
                </div>
            </volist>
        </div>

        <!-- 左边 -->
        <div class="index_recommend" id='index_recommend_0'>
            <div class="head clearfix">
                <strong>贴吧推荐</strong>
            </div>

            <div class="content clearfix">
                <div class="per current">
                    <ul class="ul_pics">
                        <volist name="bars" id="bar">
                            <li>
                                <a target="_blank"  href="js.html?/440.html">
                                    <img src="__UPLOAD__/<{$bar['hpic']}>" style = "height:150px;"alt="<{$bar['name']}>" class="lazy"  />
                                </a> 
                                <div class= "ul_info">     
                                    <a href="<{:U('Bar/index',array('bar_id'=>$bar['id']))}>" target="_blank"><b style="font-size:20px;"><{$bar['name']}> </b></a><br>
                                    <span style = "font-size:10px;margin-top:-10px;"><a href="<{:U('Bar/index',array('bar_id'=>$bar['id']))}>" target="_blank" title="<{$bar['title']}>"><{$bar['title']}></a><br>关注：<{$bar['attention']}>　帖子：<{$bar['count'][0]['count']}></span>
                                </div>
                            </li>
                        </volist>
                        <!-- <li><a target="_blank"  href="js.html?/440.html">
                            <img src="__PUBLIC__/Public/image/qi.jpg" style = "height:150px" alt="鹿晗吧" class="lazy"  />
                             </a>
                             <div class= "ul_info">     
                                 <b style="font-size:20px;">邓紫棋吧 </b><br>
                                 <span style = "font-size:12px;margin-top:-10px;"><a href="">百度鹿晗吧，专注鹿晗事业动态</a><br>关注：1111　帖子：1111</span>
                             </div>
                        </li>  --> 
                    </ul>
                </div>
            </div>
        </div><!-- 左边完 -->
    </div>

    <!-- 第三部分  -->
    <div class="index_per clearfix">
        <!-- 右边 -->
        <div class="contentl clearfix">   
            <div class="sidebar_per sidebar_second clearfix">
                <dl>
                    <dt>
                        <a href="js.html?/0-0-6-0" class="more" target="_blank">更多&nbsp;<span class="more-sign">&gt;</span></a>
                        <strong>友情链接<span class="name-en">/Link</span></strong>
                    </dt>
                    <volist name="links" id="link">
                        <!-- <{:dump($link)}> -->
                        <div class = "bar_link">
                            <b><a href="<{$link['linkurl']}>"><{$link['linktitle']}></a></b> 
                            <ul>                              
                                <li><a href="<{$link['linkurl']}>" target="_blank"><{$link['desc']}></a></li>
                            </ul>
                        </div>
                    </volist>
                </dl>
            </div>

            <div class="sidebar_per sidebar_first">
            <dl>
                <dt>
                <a href="js.html?/" class="more">更多&nbsp;<span class="more-sign">&gt;</span></a>
                <strong>热门话题<span class="name-en">/HOT</span></strong>
                </dt>
                <dd class="sidebar_articles">
                    <span>487</span>
                    <a target="_blank"  href="js.html?/712.html">美国大选川普逆袭</a>
                </dd>
                <dd class="sidebar_articles">
                    <span>02-04</span>
                    <a target="_blank"  href="js.html?/442.html">1111总攻节</a>
                </dd>
                <dd class="sidebar_articles">
                    <span>02-04</span>
                    <a target="_blank"  href="js.html?/441.html">基于ace的CRM项目管理系统后台</a>
                </dd>
                <dd class="sidebar_articles">
                    <span>02-03</span>
                    <a target="_blank"  href="js.html?/437.html">投票任务服务平台bootstrap响应式微信模板</a>
                </dd>
                <dd class="sidebar_articles">
                    <span>02-03</span>
                    <a target="_blank"  href="js.html?/440.html">联途旅游网全套bootstrap网站模板</a>
                </dd><dd class="sidebar_articles">
                    <span>02-03</span>
                    <a target="_blank"  href="js.html?/439.html">eteams协同办公OA管理系统模板</a>
                </dd>
                <dd class="sidebar_articles">
                    <span>02-03</span>
                    <a target="_blank"  href="js.html?/438.html">投票任务平台手机版</a>
                </dd>
            </dl>
        </div>
        </div><!-- 右边完 -->
        
        <!-- 左边 -->
        <div class = "content_d clearfix">
            <div class="content_nav" id="contentnav">
                <!-- <span>热门动态</span> -->
                <ul class="nav nav-tabs"> 
                    <li role="presentation" id="hotstatus" class="active"><a href="javascript:;" id="ishot" style="font-size:20px;font-weight:bold">热门动态</a></li> 
                    <li role="presentation"><a href="javascript:;" id="isfine" style="font-size:20px;">加精帖子</a></li> 
                    <!-- <li role="presentation"><a href="#" style="font-size:20px;">Messages</a></li>  -->
                </ul>
            </div>
            <script>
                var contentnavli = document.getElementById('contentnav').getElementsByTagName('li');

                for(var i=0;i<contentnavli.length;i++){
                    contentnavli[i].onclick=function(){
                        for(var j=0;j<contentnavli.length;j++){
                            contentnavli[j].className="";
                        }
                        this.className="active";
                    }
                }

            </script>
            <div id="hothot">
                <volist name="notes" id="note">
                    <div class = "content_con">
                        <div class = "content_dt">
                            <div class = "content_top">
                                <span><a href=""><{$note['name']}></a></span>
                            </div>
                            <div class="content_cen">
                                <a href=""><{$note['title']}></a>
                            </div>
                            <div class = "content_cen">
                                <a href="" style="color:#999;"><{$note['content']}> </a>
                            </div>
                            <!-- <div class = "content_img">
                                <img src="__PUBLIC__/public/image/liying1.jpg" style = "width:120px;height:150px;" alt="" />
                                <img src="__PUBLIC__/public/image/liying2.jpg" style = "width:120px;height:150px;" alt="" />
                                <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" />
                            </div> -->
                            <div class="content_footer">
                                <span class="glyphicon glyphicon-user"> <{$note['user_id']}></span><span class="glyphicon glyphicon-time"> <{$note['createtime']|date="Y-m-d H:i:s",###}></span>
                            </div>
                        </div>
                    </div>
                </volist>
            </div>
            <!--以下热门贴非遍历，可删除-->  
            <!-- <div class = "content_con">
                <div class = "content_dt">
                    <div class = "content_top">
                        <span><a href="">赵丽颖吧</a></span>
                    </div>
                    <div class="content_cen">
                        <a href=""></a>
                    </div>
                    <div class = "content_cen">
                        <a href="">【如颖随行】20161108赵丽颖最火热十部剧 第六最惊艳 赵丽颖最火热十部剧 第六最惊艳 </a>
                    </div>
                    <div class = "content_img">
                        <img src="__PUBLIC__/public/image/liying1.jpg" style = "width:120px;height:150px;" alt="" />
                        <img src="__PUBLIC__/public/image/liying2.jpg" style = "width:120px;height:150px;" alt="" />
                        <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" />
                        <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" />
                        <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" />
                        <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" /> -->
                        <!-- <img src="__PUBLIC__/public/image/liying3.jpg" style = "width:120px;height:150px;" alt="" /> -->
                    <!-- </div>
                    <div class="content_footer">
                        <span class="glyphicon glyphicon-user">帖主</span><span class="glyphicon glyphicon-time">时间</span>
                    </div>
                </div>
            </div> -->

        </div><!-- 左边完 -->
    </div>
 
    </block>

<block name="myjs">  
    <script>
        $(function(){
            console.log($(".content_d"));
            // var hotcontent = $("#hothot").html();
            $(document).on('click','#isfine',function(){
                $("#hothot").html("");
                $.ajax({
                    type:'post',
                    url:"<{:U('Index/isfine')}>",
                    success:function(results){
                        console.log(results);
                        console.log(results.length);
                        for(var i=0;i<results.length;i++){
                            $("#hothot").append("<div class = 'content_con'><div class = 'content_dt'><div class = 'content_top'><span><a href=''>"+results[i].name+"</a></span></div><div class='content_cen'><a href=''>"+results[i].title+"</a></div><div class = 'content_cen'><a href='' style='color:#999;'>"+results[i].content+"</a></div><div class='content_footer'><span class='glyphicon glyphicon-user'>"+results[i].user_id+"</span></div></div></div>");
                            // $(".content_d").append("<a href=''>"+results[i].name+"</a>");
                        }
                    },
                    error:function(results){
                        // console.log(results);
                        alert("回复失败！！！");
                    }
                });
            })
            
            $(document).on('click','#ishot',function(){
                $("#hothot").html("");
                // $("#hothot").html(hotcontent);
                $.ajax({
                    type:'post',
                    url:"<{:U('Index/ishot')}>",
                    success:function(results){
                        console.log(results);
                        console.log(results.length);
                        for(var i=0;i<results.length;i++){
                            $("#hothot").append("<div class = 'content_con'><div class = 'content_dt'><div class = 'content_top'><span><a href=''>"+results[i].name+"</a></span></div><div class='content_cen'><a href=''>"+results[i].title+"</a></div><div class = 'content_cen'><a href='' style='color:#999;'>"+results[i].content+"</a></div><div class='content_footer'><span class='glyphicon glyphicon-user'>"+results[i].user_id+"</span></div></div></div>");
                            // $(".content_d").append("<a href=''>"+results[i].name+"</a>");
                        }
                    },
                    error:function(results){
                        // console.log(results);
                        alert("回复失败！！！");
                    }
                });
            })
        })
    </script> 
</block>


