<extend name="Index/head" />

<block name="main">
   
<link rel="stylesheet" href="__PUBLIC__/public/css/style.css" type="text/css" /> 
<link rel="stylesheet" href="__PUBLIC__/public/css/mystyle.css" type="text/css" media="screen" />
<link rel="stylesheet" href="__PUBLIC__/public/css/bootstrap.min.css" />

<div class="index_bj">
<div class="container">


    <!-- 第一部分 轮播图和登录后的个人信息 -->
    <div class="index_per index_first clearfix"> 
        <!-- 登录后显示的个人信息 -->
        <if condition="$Think.session.user eq null">
            <div class="sidebar_per sidebar_first" style="display:none">
        <else />
            <div class="sidebar_per sidebar_first"   style="background:#FCFCFC;">
        </if>
            <dl>
                <dt>
                <a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>" class="more">更多&nbsp;<span class="more-sign">&gt;</span></a>
                <strong>我的贴吧<span class="name-en">/BAR</span></strong>
                </dt>
                <div class = "bar_warp">
                    <div class = "bar_warp_all">
                    <div class  = "bar_img">  
                        <a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>"><img style="width:100px;height:100px;" src="__ROOT__/<{$Think.session.user.hpic}>" alt=""></a>
                    </div>
                     <div class = "bar_list">
                       <ul>
                           <li><div class = "crown"></div></li>
                           <li><a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>"><{$Think.session.user.name}></a></li>
                       </ul>  
                       <ul>
                           <li><div class = "dou"></div></li>
                           <li><a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>">0[获取]</a></li>
                       </ul>
                    </div>
                    </div>
                    <div class = "bar_love">
                        <span><a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>"><b>爱逛的吧</b></a></span>
                        <if condition="$signin eq 0">
                            <a href="<{:U('Sign/allIn')}>" class="yiqian">
                                <div>                               
                                    <span style="color:red;font-size:18px;font-weight:bold">√</span>                                
                                    <!-- <span style="color:red;font-size:18px;font-weight:bold"></span>                                 -->
                                </div>
                            </a>
                        <else />
                            <a href="<{:U('Sign/allIn')}>" class="weiqian">
                                <div>                               
                                    <!-- <span class="yiqian" style="color:red;font-size:18px;font-weight:bold">√</span>                                 -->
                                    <span style="color:red;font-size:18px;font-weight:bold"></span>                                
                                </div>
                            </a>
                        </if>
                    </div>

                    <div class = "bar_love_list">
                        <volist name="attenBars" id="att">
                            <button><a href="<{:U('Bar/index',array('id'=>$att['id']))}>"><{$att['name']}></a><div></div></button>
                        </volist>
                    </div>
                   
                </div>
              
            </dl>
        </div>
        <!-- 没有登录时显示天气预报 -->
        <if condition="$Think.session.user eq null">
            <div class="sidebar_per sidebar_first"  style="background:#FCFCFC;">
        <else />
            <div class="sidebar_per sidebar_first" style="display:none">
        </if>
            <dl>
                <dt>
                <a href="js.html?/" class="more">更多&nbsp;<span class="more-sign">&gt;</span></a>
                <strong>天气<span class="name-en">/WEATHER</span></strong>
                </dt>
            </dl>
            <div class = "bar_rec">
                    <!-- <div class = "rec_list"> -->
                        <!-- <form action="<{:U('Bar/index')}>" method="post">
                        <input type="text" name="city" value="" placeholder="请输入城市名拼音:">
                        <button>查询</button>
                    </form> -->
                    <if condition="$weather eq null">
                       查无数据!
                    <else/>
                    <!-- <table width="280" style="text-align:center;margin-top: 15px">  -->
                        <ul style="margin-top:20px;">
                            <li><strong style="color:#337AB7;margin-left:20px;">城市：厦门</strong></li>
                            <volist name="weather" id="t">
                            <ul  class="type_one" style="margin-top:25px;">
                                <li><{$t->date}></li>
                                <ul>
                                    <li><{$t->text_day}> 转 
                                        <{$t->text_night}></li>
                                    <li><{$t->low}>℃ ~
                                         <{$t->high}>℃</li>
                                    
                                </ul>
                            </ul>
                        </ul>

                        </volist>
                    </table>
                    </if>

                    <!-- </div> -->
            </div>
        </div>
       <!-- 轮播图 -->
        <div class="index_left clearfix">
            <img style = "width:180px;height:250px" src="__PUBLIC__/Public/image/h48.jpg" alt="" />
            <div class="banner" id="banner">
                <div class="row">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="__PUBLIC__/Public/image/1.jpg" alt="...">
                                <div class="carousel-caption">
                                ...
                                </div>
                            </div>
                           <volist name="pic" id="vo">
                            <div class="item">
                                <img src="__ROOT__/<{$vo['picname']}>" alt="...">
                                <div class="carousel-caption">
                                ...
                                </div>
                            </div>
                            </volist>
                            ...
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- index_per index_first clearfix -->

    <!-- 第二部分 贴吧推荐 和 贴吧分类 -->
    <div class="index_per clearfix">
        <!-- 右边 -->
        <div class="sidebar_per sidebar_second"  style="background:#FCFCFC;">
            <dl>
                <dt>
                    <a href="<{:U('Type/index')}>" class="more" target="_blank">更多&nbsp;<span class="more-sign">&gt;</span></a>
                    <strong>贴吧分类 <span class="name-en">/Recommend</span></strong>
                </dt>
            </dl>
            <volist name="typehead" id="tp">
                <div class = "bar_rec">
                    <!-- <div class = "rec_img"><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><img style = "width:100px;height:100px;"src="__UPLOAD__/<{$sug['hpic']}>" alt="" /></a></div> -->
                    <div class = "rec_list">
                        <ul>
                            <li><a href="#" target="_blank"><strong>☆<{$tp['name']}></strong></a></li>
                                <ul class="type_one">
                                    <volist name="types" id="typ">
                                        <!-- <{:dump($typ['pid'])}> -->
                                        <if condition="$typ['pid'] eq $tp['id']">
                                            <li style="margin-right:10px;"><a href="#"><{$typ['name']}></a></li>
                                            <!-- <li><a>yyyy</a></li> -->
                                        </if>
                                    </volist>
                                    <!-- <li><a>中国</a></li> -->
                                </ul>
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['attention']}></a></li> -->
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['count'][0]['count']}></a></li> -->
                            <!-- <li><a href="<{:U('Bar/index',array('bar_id'=>$sug['id']))}>" target="_blank"><{$sug['title']}></a></li> -->
                        </ul>
                    </div>
                </div>
            </volist>
        </div>

        <!-- 左边 -->
        <div class="index_recommend" id='index_recommend_0'  style="background:#FCFCFC;">
            <div class="head clearfix">
                <strong>贴吧推荐</strong>
            </div>

            <div class="content clearfix">
                <div class="per current">
                    <ul class="ul_pics">
                        <volist name="bars" id="bar">
                            <li>
                                <a target="_blank"  href="<{:U('Bar/index',array('id'=>$bar['id']))}>">
                                    <img src="<if condition="$bar['hpic']==null">__PUBLIC__/Barimg/default_hpic.jpg<else />__UPLOAD__/<{$bar['hpic']}></if>" style = "height:150px;"alt="<{$bar['name']}>" class="lazy"  />
                                </a> 
                                <div class= "ul_info">     
                                    <a href="<{:U('Bar/index',array('id'=>$bar['id']))}>" target="_blank"><b style="font-size:20px;"><{$bar['name']}> </b></a><br>

                                    <span style = "font-size:10px;margin-top:-10px;"><a href="<{:U('Bar/index',array('id'=>$bar['id']))}>" target="_blank" title="<{$bar['title']}>"><{$bar['title']}></a><br>关注：<{$bar['attention']}>　帖子：<{$bar['count'][0]['count']}></span>
                                </div>
                            </li>
                        </volist>
                        <!-- <li><a target="_blank"  href="js.html?/440.html">
                            <img src="__PUBLIC__/Public/image/qi.jpg" style = "height:150px" alt="鹿晗吧" class="lazy"  />
                             </a>
                             <div class= "ul_info">     
                                 <b style="font-size:20px;">邓紫棋吧 </b><br>
                                 <span style = "font-size:12px;margin-top:-10px;"><a href="">百度鹿晗吧，专注鹿晗事业动态</a><br>关注：1111　帖子：1111</span>
                             </div>
                        </li>  --> 
                    </ul>
                </div>
            </div>
        </div><!-- 左边完 -->
    </div>

    <!-- 第三部分  -->
    <div class="index_per clearfix">
        <!-- 右边 -->
        <div class="contentl clearfix">   
            <div class="sidebar_per sidebar_second clearfix" style="background:#FCFCFC;">
                <dl>
                    <dt>
                        <strong>友情链接<span class="name-en">/Link</span></strong>
                    </dt>
                    <volist name="links" id="link">
                        <!-- <{:dump($link)}> -->
                        <div class = "bar_link">
                            <b><a href="<{$link['linkurl']}>"><{$link['linktitle']}></a></b> 
                            <ul>                              
                                <li><a href="<{$link['linkurl']}>" target="_blank"><{$link['desc']}></a></li>
                            </ul>
                        </div>
                    </volist>
                </dl>
            </div>

            <div class="sidebar_per sidebar_first" style="background:#FCFCFC;">
            <dl>
                <dt>
                <strong>热门话题<span class="name-en">/HOT</span></strong>
                </dt>
                <volist name="hotnote" id="hnote">
                    <dd class="sidebar_articles">
                        <span><{$hnote['reply']}></span>
                        <a target="_blank"  href="<{:U('Bar/note',array('bar_id'=>$hnote['bar_id'],'note_id'=>$hnote['id']))}>"><{$hnote['title']}></a>
                    </dd>
                </volist>
            </dl>
        </div>
        </div><!-- 右边完 -->
        
        <!-- 左边 -->
        <div class = "content_d clearfix">
            <div class="content_nav" id="contentnav">
                <!-- <span>热门动态</span> -->
                <ul class="nav nav-tabs"> 
                    <li role="presentation" id="hotstatus" class="active"><a href="javascript:;" id="ishot" style="font-size:20px;font-weight:bold">热门动态</a></li> 
                    <li role="presentation"><a href="javascript:;" id="isfine" style="font-size:20px;">加精帖子</a></li> 
                    <!-- <li role="presentation"><a href="#" style="font-size:20px;">Messages</a></li>  -->
                </ul>
            </div>
            <script>
                var contentnavli = document.getElementById('contentnav').getElementsByTagName('li');

                for(var i=0;i<contentnavli.length;i++){
                    contentnavli[i].onclick=function(){
                        for(var j=0;j<contentnavli.length;j++){
                            contentnavli[j].className="";
                        }
                        this.className="active";
                    }
                }

            </script>
            <div id="hothot">
                <volist name="notes" id="note">
                    <div class = "content_con">
                        <div class = "content_dt">
                            <div class = "content_top">
                                <a href="<{:U('Bar/index',array('id'=>$note['bar_id']))}>"><img src="__UPLOAD__/<{$note['bhpic']}>" alt="<{$note['name']}>" width="60" height="60"></a>
                                <span><a target="_blank" href="<{:U('Bar/index',array('id'=>$note['bar_id']))}>" style="font-size:25px;"><{$note['name']}></a></span>
                            </div>
                            <div class="content_cen">
                                <a target="_blank" href="<{:U('Bar/note',array('bar_id'=>$note['bar_id'],'note_id'=>$note['id']))}>" style="font-size:23px;"><{$note['title']}></a>
                            </div>
                            <div class = "content_cen">
                                <span style="color:#999;font-size:20px;"><{$note['content']}> </span>
                            </div>
                            <div class="content_footer">
                                <span class="glyphicon glyphicon-user"> <{$note['uname']}></span>
                                <span class="glyphicon glyphicon-edit" style="float:right">回复： <{$note['reply']}></span>
                                <!-- <span class="glyphicon glyphicon-time"> <{$note['createtime']|date="Y-m-d H:i:s",###}></span> -->
                            </div>
                        </div>
                    </div>
                </volist>
            </div>

        </div><!-- 左边完 -->
    </div><!-- index_bj -->
    </div><!-- container -->
     <div id="footer" class="footer" style="margin-left:400px;">                                                                                                      
                <span>©2016 Baidu</span>
                <a pv_code="0" href="http://tieba.baidu.com/tb/eula.html" target="_blank">贴吧协议</a>
                <span>|</span>
                <a pv_code="0" href="#" target="_blank">吧主制度</a>
                <span>|</span>
                <a class="ueg_feedback-link" data-site="feedbackLink" pv_code="0" href="<{:U('feedback/index',array('uid'=>$_SESSION['user']['id']))}>" target="_blank" style="color:red">意见反馈</a>
                <span>|</span>
                <a pv_code="0" href="#" target="_blank">网络谣言警示</a>
            </div> 
 
    </block>

<block name="myjs"> 
    <script>
        $(function(){
            console.log($(".content_d"));
            // var hotcontent = $("#hothot").html();
            $(document).on('click','#isfine',function(){
                $("#hothot").html("");
                $.ajax({
                    type:'post',
                    url:"<{:U('Index/isfine')}>",
                    success:function(results){
                        console.log(results);
                        // console.log(results.length);
                        for(var i=0;i<results.length;i++){
                            $("#hothot").append("<div class = 'content_con'><div class = 'content_dt'><div class = 'content_top'><a target='_blank' href=<{:U('Bar/index')}>?id="+results[i].barid+"'><img src='__UPLOAD__/"+results[i].bhpic+"' alt='"+results[i].name+"' width='60' height='60'></a><span><a target='_blank' href='<{:U('Bar/index')}>?id="+results[i].barid+"' style='font-size:25px;'>"+results[i].name+"</a></span></div><div class='content_cen'><a target='_blank' href='<{:U('Bar/note')}>?bar_id="+results[i].barid+"&note_id="+results[i].id+"' style='font-size:23px;'>"+results[i].title+"</a></div><div class = 'content_cen'><span style='color:#999;' style='font-size:20px;'>"+results[i].content+"</span></div><div class='content_footer'><span class='glyphicon glyphicon-user'>"+results[i].uname+"</span><span class='glyphicon glyphicon-edit' style='float:right'>回复："+results[i].reply+"</span></div></div></div>");
                            // $(".content_d").append("<a href=''>"+results[i].name+"</a>");
                        }
                    },
                    error:function(results){
                        // console.log(results);
                        alert("回复失败！！！");
                    }
                });
            })
            
            $(document).on('click','#ishot',function(){
                $("#hothot").html("");
                // $("#hothot").html(hotcontent);
                $.ajax({
                    type:'post',
                    url:"<{:U('Index/ishot')}>",
                    success:function(results){
                        // console.log(results);
                        // console.log(results.length);
                        for(var i=0;i<results.length;i++){
                            $("#hothot").append("<div class = 'content_con'><div class = 'content_dt'><div class = 'content_top'><a target='_blank' href=<{:U('Bar/index')}>?id="+results[i].barid+"'><img src='__UPLOAD__/"+results[i].bhpic+"' alt='"+results[i].name+"' width='60' height='60'></a><span><a target='_blank' href='<{:U('Bar/index')}>?id="+results[i].barid+"' style='font-size:25px;'>"+results[i].name+"</a></span></div><div class='content_cen'><a target='_blank' href='<{:U('Bar/note')}>?bar_id="+results[i].barid+"&note_id="+results[i].id+"' style='font-size:23px;'>"+results[i].title+"</a></div><div class = 'content_cen'><span style='color:#999;' style='font-size:20px;'>"+results[i].content+"</span></div><div class='content_footer'><span class='glyphicon glyphicon-user'>"+results[i].user_id+"</span><span class='glyphicon glyphicon-edit' style='float:right'回复：>"+results[i].reply+"</span></div></div></div>");
                            // $(".content_d").append("<a href=''>"+results[i].name+"</a>");
                        }
                    },
                    error:function(results){
                        // console.log(results);
                        alert("回复失败！！！");
                    }
                });
            })
            
            $(document).on('click','.yiqian',function(){
                $(this).attr('href',"javascript:;");
                alert("您今天已经签到过了");
            })
            
        })
    </script>
</block>


