<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Login/css/login.css">
    <link rel="stylesheet" href="__PUBLIC__/Public/css/my.css">
    <script type="text/javascript" src="__PUBLIC__/Login/js/jquery-1.8.0.min.js"></script>
</head>
<body>
<img src="__PUBLIC__/Public/image/bj10.jpg" alt="" width="100%">
<div class="zhuce_body">
	<!-- <div class="logo"><a href="./index.html"><img src="__PUBLIC__/Public/image/logo.gif" width="114" height="54" border="0"></a></div> -->
    <div class="zhuce_kong login_kuang">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>登录</h3>
       	  	  <form action="" method="get">
                <input name="phone" type="text" class="kuang_txt" placeholder="手机号">
                <input name="password" type="text" class="kuang_txt" placeholder="密码">
                <div>
               		<a href="#">忘记密码？</a><input name="" type="checkbox" value="" checked><span>记住我</span> 
                </div>
                <input name="登录" type="button" class="btn_zhuce" value="登录">
                
                </form>
            </div>
        	<div class="bj_right ">
            	<p>使用以下账号直接登录</p>
                <a href="https://ssl.zc.qq.com/chs/index.html" class="zhuce_qq">QQ注册</a>
                <a href="http://www.weibo.com/signup/signup.php" class="zhuce_wb">微博注册</a>
                <a href="https://open.weixin.qq.com/cgi-bin/readtemplate?t=regist/regist_tmpl&lang=zh_CN" class="zhuce_wx">微信注册</a>
                <p>已有账号？<a href="#">立即登录</a></p>
            
            </div>
        </div>
       
    </div>

</div>
    
</body>
</html>