<extend name='Index/index' />
    <title>个人中心</title>
<block name='main'>
<div class = "center">
    <div class = "center_nav">    
        <div class = "center_header">
            <ul>
                <li><a href="">贴吧首页</a></li>
                <li><a href="">我的帖子</a></li>
                <li><a href="">我的贴吧</a></li>
            </ul>
        </div>
    </div>
    <div class = "center_warp">
        <div class = "center_center">
        <div class = "center_left fl">
            <div class = "center_left_top">
                <div class = "center_left_top_one">
                    <ul>
                        <li><b>个人中心</b></li>
                        <li><a href="">[设置]</a></li>
                    </ul>
                </div>
                <div class = "center_left_top_two">
                    <div class = "center_img"><img style = "width:100px;height:100px;" src="./1.jpg" alt=""></div>
                   <div class = "center_fans fr">
                       <ul>
                           <li><b>萧萧</b></li>
                           <li>粉丝：777</li>
                           <li>关注：666</li>
                       </ul>
                   </div>
                </div>   
            </div>
            <div class = "center_bottom">
                <ul>
                   <li><a href="">首页</a></li>
                   <li><a href="">我的贴吧</a></li>
                   <li><a href="">我的帖子</a></li>
                   <li><a href="">我的收藏</a></li>
                   <li><a href="">我的提醒</a></li>
                   <li><a href="">好友申请</a></li>
                   <li><a href="">我的关注</a></li>
                   <li><a href="">我的网盘</a></li>
                </ul>

            </div>
        </div>
          <div class = "center_right">
          <div class = "timg">
            <a href=""><img src="__PUBLIC__/Public/image/timg.jpg" alt=""></a>
          </div>
          <div class = "center_right_c">
            
             <div class="row">
               <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">我的帖子</a></li>
                <li role="presentation"><a href="#">我的回复</a></li>
                <li role="presentation"><a href="#">我的精品</a></li>
              </ul>
             </div>
          </div>
          </div>  
        </div>
    </div>       
</div>
<block name="bottomstyle"></block>
</block>
<!-- </body>
</html> -->