<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Login/css/login.css">
    <link rel="stylesheet" href="__PUBLIC__/Public/css/my.css">
    <link rel="stylesheet" href="//__PUBLIC__/layui/build/css/layui.css"  media="all">
    <script type="text/javascript" src="__PUBLIC__/Public/js/jquery.min.js"></script>

</head>
<body>
<img src="__PUBLIC__/Public/image/bj10.jpg" alt="" width="100%" height='1000'>
<div class="zhuce_body">
	<!-- <div class="logo"><a href="#"><img src="__PUBLIC__/Public/image/logo.gif" width="114" height="54" border="0"></a></div> -->
    <div class="zhuce_kong">
    	<div class="zc">
        	<div class="bj_bai">
            <h3>欢迎注册</h3>
       	  	  <form action="" method="get">
                <input name="phone" type="text" id="name" class="kuang_txt phone" placeholder="用户名"><span></span>
                <input name="password" type="text" class="kuang_txt possword" placeholder="密码">
                <input name="Invitation code" type="text" class="kuang_txt possword" placeholder="确认密码">
                <input name="email" type="text" class="kuang_txt email" placeholder="邮箱">
                <input name="yzm" type="text" class="kuang_txt yanzm" placeholder="验证码">
                <div>
                	<div class="hui_kuang"><img src="__PUBLIC__/Login/images/zc_22.jpg" width="92" height="31"></div>
                	<div class="shuaxin"><a href="#"><img src="__PUBLIC__/Login/images/zc_25.jpg" width="13" height="14"></a></div>
                </div>
                <div>
               		<input name="" type="checkbox" value=""><span>已阅读并同意<a href="#" target="_blank"><span class="lan">《XXXXX使用协议》</span></a></span>
                </div>
                <input name="注册" type="button" class="btn_zhuce" value="注册">
                
                </form>
            </div>
        	<div class="bj_right">
            	<p class="mt50">使用以下账号直接登录</p>
                <a href="https://ssl.zc.qq.com/chs/index.html" class="zhuce_qq">QQ注册</a>
                <a href="http://www.weibo.com/signup/signup.php" class="zhuce_wb">微博注册</a>
                <a href="https://open.weixin.qq.com/cgi-bin/readtemplate?t=regist/regist_tmpl&lang=zh_CN" class="zhuce_wx">微信注册</a>
                <p>已有账号？<a href="login.html">立即登录</a></p>    
            </div>
            <div class="site-demo-button">
  <button class="layui-btn site-demo-layer" data-type="setTop">多窗口模式，层叠置顶</button>
  <button class="layui-btn site-demo-layer" data-type="confirmTrans">配置一个透明的询问框</button>
  <button class="layui-btn site-demo-layer" data-type="notice">示范一个公告层</button> 
</div>
        </div>
     
    </div>

</div>
<script src="__PUBLIC__/layui/build/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    window.onload = function(){
        // console.log($('input')['0']);
        $('#name').change(function(){
            // console.log($('#name').val());
            var name = $('#name').val();
            if(name.length<6){
                $("<span color=red>用户名长度必须大于6位</span>").appendTo($('#name'));
            }
        })
    }
layui.use('layer', function(){ //独立版的layer无需执行这一句
  var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
  
  //触发事件
  var active = {
      confirmTrans: function(){
      //配置一个透明的询问框
      layer.msg('大部分参数都是可以公用的<br>合理搭配，展示不一样的风格', {
        time: 20000, //20s后自动关闭
        btn: ['明白了', '知道了', '哦']
      });
    }
  };
  $('.site-demo-layer').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
  });
});
</script>
</body>
</html>