<extend name="Public/table" />


<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('Feedback/doReply')}>" method="post">
    <input type="hidden" name = "id" value = "<{$list['id']}>">
    <input type="hidden" name = "user_id" value = "<{$list['name']}>">
        <div class="form-group" style="height:50px;margin-top:40px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 回复 :</label>
            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <textarea name="content" id="" cols="44" rows="4" maxlength="50"></textarea>
               
                </span>
            </div>
        </div>
        <!-- <{:dump($list)}> -->
        <div style="margin-top:50px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    提交回复
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    修改回复
                </button>
            </div>
            </div>

        <div class="hr hr-24"></div>

    </form>
</block>