<extend name="index" />
<block name="the_head">
<div class="bar_head">
    <div class="n_left">
        <img src="__PUBLIC__/Public/img/1.png" alt="" width="100%" height="100%">
    </div>
    <div class="bar_head_center fl">
        <ul>
            <li class="lione fl"><b>暴走吧</b></li>
            <li class="lione fl"><a href="" class="litwo"><span class="glyphicon glyphicon-plus"></span>关注</a></li>
            <li class="lithree fl">关注：</li>
            <li class="lithree fl">帖子：</li>
        </ul>
    </div>
</div> <!--bar_head--> 
</block>
<block name="main_head">
    <div class="note_title">这是帖子页面的测试标题。。。</div>
</block>
<block name="the_main">
</block>
