<extend name="index" />
<block name="the_head">
<div class="bar_head">
    <div class="n_left">
        <img src="__PUBLIC__/Public/img/1.png" alt="" width="100%" height="100%">
    </div>
    <div class="bar_head_center fl">
        <ul>
            <li class="lione fl"><b>暴走吧</b></li>
            <li class="lione fl"><a href="" class="litwo"><span class="glyphicon glyphicon-plus"></span>关注</a></li>
            <li class="lithree fl">关注：</li>
            <li class="lithree fl">帖子：</li>
        </ul>
    </div>
</div> <!--bar_head--> 
</block>
<block name="main_head">
    <div class="note_title"><b>这是帖子页面的测试标题。。。</b></div>
</block>
<block name="the_main">
    <div class="note_main">
        <div class="note_main_left">
            <div class="user_tx"><img src="__PUBLIC__/Public/img/1.png" alt="heihei" width="100%" height="100%"></div>
            <div class="user_name">王尼玛</div>
            <div class="user_grade">初入江湖</div>
        </div>
        <div class="note_main_main"><p>qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq</p></div>
        <div class="note_main_right">
            <span class="huifu">回复（0）</span>
            <span class="createtime">2016-11-12 10:20:54</span>
            <span class="floor">1楼</span>
        </div>
    </div>
    <div class="note_main">
        <div class="note_main_left">
            <div class="user_tx"><img src="__PUBLIC__/Public/img/1.png" alt="heihei" width="100%" height="100%"></div>
            <div class="user_name">王尼玛</div>
            <div class="user_grade">初入江湖</div>
        </div>
        <div class="note_main_main"><p>???</p></div>
        <div class="note_main_right">
            <span class="huifu">回复（0）</span>
            <span class="createtime">2016-11-12 10:20:54</span>
            <span class="floor">2楼</span>
        </div>
    </div><!--note_main-->
</block>
