<extend name="index" />
<block name="the_head">
<div class="bar_head">
    <div class="n_left">
        <img src="__UPLOAD__/<{$data[0]['bhpic']}>" alt="" width="100%" height="100%">
    </div>
    <div class="bar_head_center fl">
        <ul>
            <li class="lione fl"><b><{$data[0]['bname']}></b></li>
            <if condition="$atten eq 0">
                <li class="lione fl"><a href="<{:U('Bar/attentionBars',array('barid'=>$bar_id))}>" class="litwo"><span class="glyphicon glyphicon-plus"></span>关注</a></li>
            <else />
                <li class="lione fl"><a href="<{:U('Bar/cancelBars',array('barid'=>$bar_id))}>" class="litwo"><span class="glyphicon glyphicon-minus"></span>已关注|取消</a></li>
            </if>
            <li class="lithree fl">关注：<{$data[0]['attention']}></li>
            <li class="lithree fl">帖子：<{$count[0]['count']}></li>
        </ul>
    </div>
</div> <!--bar_head--> 
<div class="page">
    <{$show}>
</div>
</block>

<block name="main_head">
<!-- <{:dump($data)}> -->
    <div class="note_title"><b><{$data[0]['title']}></b>
   <if condition="$collect eq 1">
    <a href="<{:U('Bar/collect',array('noteid'=>$data[0]['id']))}>" style="float:right;">收藏</a>
    <else/> <a href="<{:U('Bar/delcollect',array('noteid'=>$data[0]['id']))}>" style="float:right;color:orange">已收藏</a>
    </if>
    </div>
</block>
<block name="the_main">
    <!-- 一楼帖主楼 -->
    <if condition='($pagenow eq 0) or ($pagenow eq 1)'>
        <div class="note_main">
    <else />
        <div class="note_main" style="display:none;">
    </if>
        <div class="note_main_left">
            <div class="user_tx"><img src="__ROOT__/<{$data[0]['uhpic']}>" alt="heihei" width="100%" height="100%"></div>
            <div class="user_name"><{$data[0]['uname']}></div>
            <div class="user_grade">初入江湖</div>
        </div>
        <div class="note_main_main"><p><{$data[0]['content']}></p></div>
        <div class="note_main_right">
            <a href="#pinglun"><span style="float:right"> 回 复 &nbsp;&nbsp;</span></a>
            <span class="createtime"><{$data[0]['createtime']|date="Y-m-d H:i:s",###}></span>
            <span class="floor">1楼</span>
        </div>
    </div>
    
    <!-- 评论楼 -->
    <volist name="replys" id="reply">
        <div class="note_main">
            <div class="note_main_left">
                <div class="user_tx"><img src="__ROOT__/<{$reply['uhpic']}>" alt="heihei" width="100%" height="100%"></div>
                <div class="user_name"><{$reply['uname']}></div>
                <div class="user_grade">初入江湖</div>
            </div>
            <div class="note_main_main"><p><{$reply.content}></p></div>
            <div class="note_main_right">
                <a href="javascript:;" class="huifu" style="width:60px;text-align:center;">查看回复</a>
                <span class="createtime"><{$reply['createtime']|date="Y-m-d H:i:s",###}></span>
                <span class="floor"><{$reply['floor']}>楼</span>
                <div class="reply" id="reply">
                    <br>
                    <!-- 评论区 -->
                    <div class="replytop">
                        <volist name="comments" id="comment">
                            <eq name="reply.floor" value="$comment.cfloor">
                            <li style="margin-left:30px;"><span><a href=""><{$comment['uname']}>：</a></span><{$comment['content']}><span style="float:right;margin-right:30px"><{$comment['createtime']|date="Y-m-d H:i",###}> <a  class="a-comment" href="javascript:;"  style="margin-left:30px;">回复</a></span></li>
                            </eq>
                        </volist>
                        <span class="shuo" style="float:right;margin-right:30px;margin-top:10px;"><a href="javascript:;">我也说一句</a></span>
                    </div>
                    <br>
                    <div class="replybottom">
                        <!-- <form method="post"> -->
                            <input type="text" style="margin-left:20px;width:580px" name="content" value="" placeholder=""></input><br>
                            <input type="hidden" name="floor" value="<{$reply['floor']}>">
                            <input type="hidden" name="note_id" value="<{$reply['note_id']}>">
                            <input class="btn btn-primary btn-reply" type="submit" value="发表">
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div><!--note_main-->
    </volist>

    <div class="fatie fl" style="margin-top:50px;" id="pinglun">
            <form action="<{:U('Floor/floorAdd')}>" method="post" enctype="multipart/form-data">
                <input type="hidden" name="note_id" value="<{$data[0]['id']}>">
                <input type="hidden" name="bar_id" value="<{$data[0]['bar_id']}>">
                <!-- <div class="fatei_head">
                    <b>标题：</b><br><input class="input_title" type="text" name="title" placeholder="请填写标题"> 
                </div> -->
                <div id="myEditor" class="fatie_content edui-default">
                    <b>内容：</b><br>
                    <div class="fatie_content2 fl">
                        <script id="container" name="content" type="text/plain" style="width:650px;height:220px">
                        </script>
                        <!-- 配置文件 -->
                        <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
                        <!-- 编辑器源码文件 -->
                        <script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
                        <!-- 实例化编辑器 -->
                        <script type="text/javascript">
                            var ue = UE.getEditor('container',{
                                indentValue:'2em'
                                ,initialFrameWidth:650  //初始化编辑器宽度,默认1000
                                ,initialFrameHeight:220  //初始化编辑器高度,默认320
                                ,zindex:650
                                , toolbars: [[
                                'fullscreen', 'undo', 'redo', '|',
                                'bold', 'italic', 'underline', 'fontborder', 'rowspacingbottom', 'lineheight', '|', 'fontfamily', 'fontsize', '|',
                                'directionalityltr', 'directionalityrtl', 'indent', '|',
                                'justifyleft', 'justifycenter', 'justifyright', 'justifyjustify', '|', 
                                'simpleupload', 'insertimage', 'emotion', 'scrawl', 'insertvideo', 'music', 'attachment', 'map', 'gmap', 'insertframe', '|',
                                'horizontal', 'date', 'time', 'snapscreen'
                                ]]
                                //是否启用元素路径，默认是显示
                                ,elementPathEnabled :false
                                ,autoHeightEnabled: false
                            });
                        </script>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt10 fatie_fabiao" >发　表</button>
            </form>
        </div><!--fatie-->
    
</block>

<block name="myjs">
    <script>
        $(function(){
            $(document).on('click','.huifu',function(){
                    if($(this).text()=='收起回复'){
                        $(this).text('查看回复');
                        $(this).css('background','white');
                    }else{
                        $(this).text('收起回复');
                        $(this).css('background','#F7F8FA');
                    }
                    $(this).siblings('div').fadeToggle('slow');
            });

            $(document).on('click','.btn-reply',function(){
                    if("<{$Think.session.user}>"==''){
                        alert('请登录');
                        window.location.href="<{:U('Login/login')}>";

                        // var height=$(document).height();
                        // var width=$(document).width();
                        // $('#poplogin-layout').css({'height':height,'width':width,'display':'block',position:'fixed',top:'0px',left:'0px'});
                     
                        // return false;
                    }
                    var placeholder = $(this).parent().children(":first").attr("placeholder");
                    var content = $(this).parent().children(":first").val();
                    var userid = <{$Think.session.user.id}>;
                    var noteid = $(this).prev().attr('value');
                    var floor = $(this).prev().prev().attr('value');
                    // var time = time();
                    // console.log(content);
                    // console.log(userid);
                    // console.log(noteid);
                    // console.log(floor);
                    // console.log(time);

                    if(content==''){
                        return false;
                    }
                    var contents = placeholder+content;
                    var handle = $(this);

                    $.ajax({
                        type:'post',
                        url:"<{:U('Bar/doComment')}>",
                        data:"content="+contents+"&user_id="+userid+"&note_id="+noteid+"&floor="+floor,
                        // data:"bar_id="+<{$data[0].bid}>+"&content="+content+"&bar_as_id="+bsid+"&reception="+recid,
                        success:function(results){
                            // console.log(results);
                            handle.parent().prev().prev().children("span").before('<li style="margin-left:30px;"><span><a href=""><{$Think.session.user.name}>：</a></span>'+contents+'<span style="float:right;margin-right:30px">刚刚发布 <a  class="a-comment" href="javascript:;"  style="margin-left:30px;">回复</a></span></li>');
                            // console.log()
                            handle.parent().children(":first").val("");
                            handle.parent().children(":first").attr("placeholder","");
                        },
                        error:function(results){
                            // console.log(results);
                            alert("回复失败！！！");
                        }
                    });

                    return false;
            });

            // console.log($('.a-comment'));
            $(document).on('click','.a-comment',function(){
                    // alert('111');.prev().children().val()

                    var placeholder = $(this).parent().prev().children().html();
                    // console.log(placeholder);

                    var con = $(this).parent().parent().parent().next().next().children("input:first");
                    // console.log(con);

                    // alert(placeholder);
                    con.attr('placeholder','回复'+placeholder);
                    con.focus();
            });

            $(document).on('click','.shuo',function(){
                // console.log($(this).parent().next().next().children(":first"));
                $(this).parent().next().next().children(":first").attr("placeholder","");
            })

        });
    </script>
</block>
