<extend name="Public/table" />


<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="bar">
    <li class="active open">
</block>

<block name="barlist">
    <li class="active">
</block>

<block name="content">
<div class="table-header"><small><{$stitle}></small></div>

   <div class="col-xs-12">
      <div class="hr dotted"></div> <div>
       <div id="user-profile-1" class="user-profile row">
        <div class="col-xs-12 col-sm-3 center">
 
            <span class="profile-picture">
                <img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="__UPLOAD__/<{$data.hpic}>" />
            </span>

            <div class="space-4"></div>

            <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                <div class="inline position-relative">
                    <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-circle light-green middle"></i>
                        &nbsp;
                        <span class="white"><{$data.name}></span>
                    </a>
                </div>
            </div>
    

        <div class="space-6"></div>

        <div class="profile-contact-info">
            <div class="profile-contact-links align-left">
                <a class="btn btn-link" href="#" role="button" data-toggle="modal" data-target="#myModal">
                    <i class="icon-cloud-upload bigger-120 green"></i>
                    修改头像
                </a>

                <a class="btn btn-link" href="#">
                    <i class="icon-envelope bigger-120 pink"></i>
                    发信息
                </a>
            </div>

            <div class="modal fade" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">修改头像</h4>
              </div>
              <form action="<{:U('Barinfo/upload')}>" method="post" enctype="multipart/form-data">
              <div class="modal-body">
                    <input type="file" name="hpic">
                    <input type="hidden" name="id" value="<{$data['id']}>">
              </div>
              <div class="modal-footer">
                <button type="reset" class="btn btn-default" data-dismiss="modal">重置</button>
                <button type="submit" class="btn btn-primary">修改</button>
              </div>
              </form>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

            <div class="space-6"></div>

            <div class="profile-social-links center">
                <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                    <i class="middle icon-facebook-sign icon-2x blue"></i>
                </a>

                <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                    <i class="middle icon-twitter-sign icon-2x light-blue"></i>
                </a>

                <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                    <i class="middle icon-pinterest-sign icon-2x red"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-8">
        <div class="space-12"></div>

        <div class="profile-user-info profile-user-info-striped" style="font-size:17px;">
            <div class="profile-info-row">
                <div class="profile-info-name"> 贴吧名 </div>

                <div class="profile-info-value">
                    <span class="editable" id="name"><{$data.name}></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 吧主 </div>

                <div class="profile-info-value" style="height:50px">
                    <span class="editable" id="sex"><if condition="$data['username']['name'] eq null">还没有吧主<else /><{$data['username'].name}><a href="<{:U('Barinfo/revoke',array('id'=>$data['id']))}>" class="btn btn-danger" style="float:right;">撤销吧主</a></if></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 吧管理员 </div>

                <div class="profile-info-value" style="height:50px">
                    <volist name="list" id="vo">
                        <span class="editable" id="email">
                            <{$vo['name']}><a href="<{:U('Barinfo/annul',array('id'=>$data['id'],'user_id'=>$vo['id']))}>" title="点击撤销职位"><sub><span class="label label-danger arrowed-in">撤销</span></sub></a>
                        </span>
                    </volist>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 贴吧类别 </div>

                <div class="profile-info-value">

                    <span class="editable" id="email"><{$data['typename'].name}></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 关注人数 </div>

                <div class="profile-info-value">

                    <span class="editable" id="email"><{$data['attention']}></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 宣言 </div>

                <div class="profile-info-value">
                    <span class="editable" id="like"><{$data.title}></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 创建时间 </div>

                <div class="profile-info-value">
                    <span class="editable" id="createtime"><{$data.createtime|date='Y-m-d H:i:s',###}></span>
                </div>
            </div>

            <div class="profile-info-row">
                <div class="profile-info-name"> 吧公告 </div>

                <div class="profile-info-value">
                    <span class="editable" id="introduction"><if condition="$data['desc'] eq null">未设置<else /><{$data.desc}></if></span>
                </div>
            </div>
        </div>
    </div>      
</block>

<block name="tablejs">
    <script src="__PUBLIC__/dist/js/jquery.min.js"></script>
    <script src="__PUBLIC__/dist/js/holder.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</block>
