<extend name="Public/table" />

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('Note/save')}>" method="post">
    <!-- <{:dump($data)}> -->
        <input type="hidden" name = "id" value="<{$data.id}>">
        <div  class="form-group" style="height:50px;font-size:17px;margin-top:30px;margin-left:100px;">
        <!-- <{:dump($data)}> -->
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">置顶 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="istop" value="1"  <if condition="$data.istop eq '1'">checked</if> >置顶
                  <input type="radio" style ="margin-left:10px;" name="istop" value="0"  <if condition="$data.istop eq '0'">checked</if> >不置顶
                  
                </div>
          </div>   
           <div  class="form-group" style="height:50px;font-size:17px;margin-top:10px;margin-left:100px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">加精 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="isfine" value="1" <if condition="$data.isfine eq '1'">checked</if> >加精
                  <input type="radio" style ="margin-left:10px;" name="isfine" value="0"  <if condition="$data.isfine eq '0'">checked</if> >不加精
                  </span>
                </div>
          </div>     
          <div  class="form-group" style="height:50px;font-size:17px;margin-top:10px;margin-left:100px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">显示 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="is_show" value="1" <if condition="$data.is_show eq '1'">checked</if> >显示
                  <input type="radio" style ="margin-left:10px;" name="is_show" value="0"  <if condition="$data.is_show eq '0'">checked</if> >不显示
                  </span>
                </div>
          </div>
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-10"></i>
                    确认修改
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-10"></i>
                    重新修改
                </button>
            </div>
        <div class="hr hr-24"></div>

    </form>
</block>