<extend name="Public/table" />

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
<div class="table-header"><small><{$title}></small></div>
<div class="row">
 <div class="col-xs-12 col-md-offset-1">
     <div class="hr dotted"></div> <div>
        <div id="user-profile-1" class="user-profile row">
            <div class="col-xs-12 col-sm-3 center" style="margin-top:30px;">
                <span class="profile-picture">
            <div style="width:200px;height:220px;border:1px solid #ccc">
              <img id="avator" class="editable img-responsive" style = "width:250px;height:220px;" alt="请选择您的头像" src="__ROOT__/<{$data[0]['hpic']}>" />
            </div>
                </span>
                <div class="space-4"></div>
                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
                    <div class="inline position-relative">
                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-circle light-green middle"></i>
                            &nbsp;
                            <span class="white"><{$list['user_id']}></span>
                        </a>
                    </div>
                </div>
            <div class="space-6"></div>

            <div class="profile-contact-info">
                <div class="profile-contact-links align-left">
                    <a class="btn btn-link" href="#">
                        <i class="icon-plus-sign bigger-120 green"></i>
                       加好友
                    </a>

                    <a class="btn btn-link" href="#">
                        <i class="icon-envelope bigger-120 pink"></i>
                        发信息
                    </a>
                </div>
                <div class="space-6"></div>

                <div class="profile-social-links center">
                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Facebook">
                        <i class="middle icon-facebook-sign icon-2x blue"></i>
                    </a>

                    <a href="#" class="tooltip-info" title="" data-original-title="Visit my Twitter">
                        <i class="middle icon-twitter-sign icon-2x light-blue"></i>
                    </a>

                    <a href="#" class="tooltip-error" title="" data-original-title="Visit my Pinterest">
                        <i class="middle icon-pinterest-sign icon-2x red"></i>
                    </a>
                </div>
            </div>
        </div>
    <!-- <{:dump($list)}> -->
        <div class="col-xs-12 col-sm-9">
            <div class="space-12"></div>
            <div class="profile-user-info profile-user-info-striped" style="font-size:17px;">
                <div class="profile-info-row">
                    <div class="profile-info-name"> ID </div>

                    <div class="profile-info-value">
                        <span class="editable" id="id"><{$list.id}></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 帖子名 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="bar_id"><{$list['title']}></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 所属吧名 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="user_id"><{$data[0]['bar_id']}></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 作者 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="name"><{$data[0]['user_id']}></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 置顶</div>

                    <div class="profile-info-value">
                        <span class="editable" id="istop">
                            <if condition="$list.istop eq '1'">置顶
                            <else />不置顶
                            </if>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 加精 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="isfine">
                             <if condition="$list.istop eq '1'">加精
                            <else />不加精
                            </if>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> 创建时间 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="createtime"><{$list['createtime']|date="Y-m-d",###}></span>
                    </div>
                </div>   
                 <div class="profile-info-row">
                    <div class="profile-info-name"> 回复 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="replay"><{$list['reply']}></span>
                    </div>
                </div>  
                 <div class="profile-info-row">
                    <div class="profile-info-name"> 关注 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="scan"><{$list['scan']}></span>
                    </div>
                </div>   
                 <div class="profile-info-row">
                    <div class="profile-info-name"> 内容 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="content"><{$list['content']}></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

                 
                        
              
</block>
