<extend name="Public/table" />

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
<div class="table-header"><small><{$title}></small></div>
 <div class="col-xs-12 col-md-offset-1">
     <div class="hr dotted"></div> 
            <div class="col-xs-12 col-sm-3 center" style="margin-top:30px;">
                <span class="profile-picture">
                <div style="width:200px;height:220px;border:1px solid #ccc">
                  <img id="avator" class="editable img-responsive" style = "width:250px;height:220px;" alt="请选择您的头像" src="__ROOT__/<{$data['hpic']}>" />
                </div>
                </span>
                <div class="space-4"></div>
                <div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right" style="height:40px;margin-top:10px">
                    <div class="inline position-relative">
                        <a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-circle light-green middle"></i>
                            &nbsp;
                            <span class="white" style="line-height:30px"><{$data['uname']}></span>
                        </a>
                    </div>
                </div>
            <div class="space-6"></div>
        </div><!--./col-xs-12 col-sm-3 center--> 
    <!-- <{:dump($list)}> -->
         <div class="col-xs-10 col-sm-8">
            <div class="space-12"></div>
             <div class="profile-user-info profile-user-info-striped" style="font-size:17px;">
               <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 作者 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="name"><{$data['uname']}></span>
                    </div>
                </div>
                <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 帖子编号 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="id"><{$data['id']}></span>
                    </div>
                </div>
                <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 帖子名 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="bar_id"><{$data['title']}></span>
                    </div>
                </div>
                <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 所属吧名 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="user_id"><{$data['bname']}></span>
                    </div>
                </div>
                <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 置顶</div>

                    <div class="profile-info-value">
                        <span class="editable" id="istop">
                            <if condition="$data['istop'] eq '1'">置顶
                            <else />不置顶
                            </if>
                        </span>
                    </div>
                </div>
                <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 加精 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="isfine">
                             <if condition="$data['isfine'] eq '1'">加精
                            <else />不加精
                            </if>
                        </span>
                    </div>
                </div> 
            <!--      <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 回复 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="replay"><{$data['reply']}></span>
                    </div>
                </div>  --> 
             <!--     <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 关注 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="scan"><{$data['scan']}></span>
                    </div>
                </div>  -->
                      <div class="profile-info-row" style = "height:30px;">
                    <div class="profile-info-name"> 创建时间 </div>

                    <div class="profile-info-value">
                        <span class="editable" id="createtime"><{$data['createtime']|date="Y-m-d",###}></span>
                    </div>
                </div>    
            </div>
        </div><!--./col-xs-12 col-sm-9-->
   </div><!--./col-xs-12 -->

</block>
