<extend name="Public/table" />

<block name="role">
    <li class="active open">
</block>

<block name="rolelist">
    <li class="active">
</block>

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
<div class="row">
<div class="col-md-5 col-md-offset-3">
<h3>给　<b><{$role.role}></b>　分配权限</h3>
</div><!--col-md-6-->
    <div class="nodelist fl">
    <!-- <{:dump($role_node)}> -->
    <form action="<{:U('Role/savenode')}>" method="post">
    <foreach name="nodes" item="v">
    <div class="the_box fl">
    <div class="checkbox">
    <label>
      <input type="checkbox" name="node[]" value="<{$v.id}>" <if condition="in_array($v['id'],$role_node) eq true">checked</if>> <{$v.node}>
    </label>
    </div><!--checkbox-->
    </div><!--the_box-->
    </foreach>
    <input type="hidden" name="role_id" value="<{$role.id}>">
    <button type="submit" class="btn btn-success" style="margin-left:25px;margin-top: 10px;">确认</button>
    </form>
    </div><!--nodelist-->
    </div><!--row-->
</block>