<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="search" type="application/opensearchdescription+xml"
          href="http://tieba.baidu.com/tb/cms/content-search.xml" title="百度贴吧">
    <link rel="stylesheet" href="__PUBLIC__/Public/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Public/css/mystyle.css" type="text/css" media="screen"/>
    <title>我的贴吧</title>
    <link rel="shortcut icon" href="http://tb1.bdstatic.com/tb/favicon.ico">
    <link rel="stylesheet" href="__PUBLIC__/Center/saved_resource">
    <link rel="stylesheet" href="__PUBLIC__/Center/saved_resource(1)">
    <link rel="stylesheet" href="__PUBLIC__/Center/saved_resource(2)">
    <link rel="stylesheet" href="__PUBLIC__/Center/saved_resource(3)">

</head>
<body>
<!--&lt;!&ndash; 头部开始 &ndash;&gt;-->
<div id="header-top">
    <div class="container">
        <a href="#"><img src="" alt="" class="rss-icon"/></a>
        <p class="left">
            <a href="#">新闻</a>
            <a href="#">网页</a>
            <a href="#">贴吧</a>
            <a href="#">知道</a>
            <a href="#">音乐</a>
            <a href="#">图片</a>
            <a href="#">视频</a>
            <a href="#">地图</a>
            <a href="#">百科</a>
            <a href="#">文库</a>
        </p>
        <p class="right">
            <if condition="$Think.session.user eq null">
                <a href="<{:U('Login/login')}>">登录</a><a href="<{:U('Login/reg')}>">注册</a>
            <else />
            　　<a href="<{:U('MyInfo/index',array('uid'=>$_SESSION['user']['id']))}>"><{$Think.session.user.name}></a> | <a href="<{:U('Login/logout')}>">退出</a>
            </if>            
            <a href="#">会员官网</a>
            <a href="www.baidu.com">百度首页</a>
            <a href="<{:U('Index/index')}>">CSW首页</a>
        </p>
    </div><!-- end .container -->
</div><!-- end #header-top -->
<!--&lt;!&ndash; 头部结束 &ndash;&gt;-->
<div id="header" style="margin-top:-10px;">
    <div class="container">
        <h1 style="margin-top: 30px;margin-left: 200px;">
          <!--   <a href="<{:U('index')}>">
                <img src="__PUBLIC__/public/image/logo.gif" alt="">
            </a> -->
        </h1>
        <div style="margin-top:30px;margin-left: 370px;" class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input style="height:42px;width:300px" id="barss" type="text" class="form-control" aria-label="...">
                    <div class="input-group-btn">
                        <button style="height:30px;" type="button" class="btn btn-info dropdown-toggle"
                                data-toggle="dropdown" aria-expanded="false"  id="searchbar">进入贴吧
                        </button>
                        <button style="height:30px;margin-left:20px;border-radius:10%;" type="button"
                                class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            全吧搜索
                        </button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!--/.col-lg-6 -->
        </div><!-- end row-->
    </div><!-- end .container -->
</div><!-- end #header -->
<div style="background: #abcdef;">
<div id="headinfo_wrap" class="headinfo_wrap">
    <img src="__PUBLIC__/Center/1.jpg" style="width:980px;height:255px;" alt="">
    <a class="btn_editbg" href="http://tieba.baidu.com/home/main?id=211759414e47c4bee4f4e95b&amp;fr=userbar#"></a>
</div>
<div id="userinfo_wrap" class="userinfo_wrap clearfix">
    <div class="userinfo_left ">
        <div class="userinfo_left_head" id="j_userhead" data-sign="2117e95b?t=1479174124" title="点击查看高清头像">
            <a href="javascript:;" style="" class="userinfo_head">
                <img src="__ROOT__/<if condition="$list['hpic'] == null">Public/Public/image/dog.jpg<else /><{$list['hpic']}></if>" />
            </a>
        </div>
    </div>
    <div class="userinfo_middle">
        <div class="userinfo_title">
            <span class="userinfo_username "><{$list['name']}></span>
        </div>
        <div class="userinfo_num">
            <div class="userinfo_userdata">
                <span class="userinfo_sex userinfo_sex_female"></span>
                <span>吧龄:#####年</span>
                <span class="userinfo_split"></span>
                <span>发贴:####</span>
            </div>
        </div>
        <div class="userinfo_honor clearfix">
                <span class="icon_wrap  icon_wrap_theme2  icon_slot_wrap j_book_icon">
                    <a href="javascript:void(0)" data-slot="1" data-name="" title="点击添加印记"
                       class="j_slot_null_icon j_icon_slot icon_slot_null_icon" style="top: 0px;left:0px">
                        <div class="j_icon_slot_refresh"></div>
                    </a>
                    <a href="javascript:void(0)" title="开启插槽" class="j_icon_slot_buy icon_add_solt"
                       style="top: 0px;left:28px"></a>
                </span>
        </div>
        <li class="lione fl"><a href="<{:U('MyInfo/follow',array('uid'=>$list['id']))}>" class="litwo">
            <if condition="$follow eq 1"><span class="glyphicon glyphicon-plus"></span>关注
        </a></li>
        <else/>
        <a href="<{:U('MyInfo/cancel',array('uid'=>$list['id']))}>"><li class="lithree fl" style="color:orange;font-size:16px;margin-top:-40px;">√已关注 | 取消</li></a>
        </if>
    </div>
</div>
<div id="container" class="container_wrap clearfix ihome_body">
    <div class="left_aside ihome_left_aside">
        <div class="content_wrap">
            <div id="ihome_nav_wrap" class="ihome_nav_wrap">
                <ul class="ihome_nav_list">
                    <li class="focus">
                        <div class="tbnav_tab_inner">
                            <p class="space">
                                <a class="nav_icon nav_main" href="javascript:void(0)">他的主页</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="tbnav_tab_inner">
                            <p>
                                <a class="nav_icon nav_achieve" href="javascript:void(0)">成就</a>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ihome_forum_group ihome_section clearfix" style="height:320px;">
                <h1 class="ihome_title">
                    <span class="cut_line">|</span>爱逛的吧
                </h1>
                <div class="clearfix u-f-wrap" id="forum_group_wrap">
                    <volist name="love" id="vo">
                        <a data-fid="59099" target="_blank" locate="like_forums#ihome_v1" href="#"
                           class="u-f-item unsign">
                            <span><{$vo['name']}></span>
                            <span class="forum_level lv1"></span>
                        </a>
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <div class="right_aside" style="height:400px;">
        <div class="ihome_aside_section " style="margin-top: 40px;">
            <h1 class="ihome_aside_title">他关注的人<span class="concern_num">(<a href="#" target="_blank"><{$count}></a>)</span></h1>
            <volist name="fname" id="v">
            <ul class="concern_wrap" id="concern_wrap_fans">
                <li class="concern_item"><a
                        data-field="{&quot;un&quot;:&quot;\u4f60\u65e0\u6240\u8c135\u4e00\u6837&quot;}"
                        class="j_user_card" target="_blank" locate="fans#ihome_v1" href="<{:U('MyInfo/personal',array('uid'=>$v[0]['id']))}>"><img
                       src="__ROOT__/<{$v[0]['hpic']}>"></a>
                </li>
            </ul>
            </volist>
        </div>
    </div>
</div>
<div id="footer" class="footer">
    <span>©2016 Baidu</span>
    <a pv_code="0" href="http://tieba.baidu.com/tb/eula.html" target="_blank">贴吧协议</a>
    <span>|</span>
    <a pv_code="0" href="#" target="_blank">吧主制度</a>
    <span>|</span>
    <a class="ueg_feedback-link" data-site="feedbackLink" pv_code="0" href="#" target="_blank">意见反馈</a>
    <span>|</span>
    <a pv_code="0" href="#" target="_blank">网络谣言警示</a>
</div>
</div>
<span class="fix-for-ie8"></span>
</div>
</div>
</body>
</html>
<script>
    $(function(){
        $(document).on('click',"#searchbar",function(){
            $.ajax({
                type:'post',
                data: 'bars='+$("#barss").val(),
                url:"<{:U('Search/search')}>",
                success:function(results){
                    if(results === 0) {
                        alert("没有该吧，马上去申请建吧");window.location.href="<{:U("CreateBar/index")}>?name="+$('#barss').val();
                    } else {
                        location.assign('<{:U("bar/index", "","",true)}>?id=' + results);
                    }
                },
            })
        })

    })
</script>
