*{
    margin:0px;
    padding:0px;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.center{
    width:1263px;
    height:531px;
}
.center_nav{
    width:980px;
    height:32px;
    background: #5492DB;
    margin:0 auto;
}
.center_header ul li{
    float:left;
    line-height: 32px;
    margin-left: 40px;

}
.center_header ul li a{
    line-height: 32px;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
}
.center_header ul li a:hover{
    background: #abcdef;
}
.center_wrap{
    width:100%;
    height:459px;
    border:1px solid #ccc;

}
.center_center{
    width:980px;
    height:459px;
    border:1px solid #ccc;
    margin:0 auto;
     margin-top:20px;
} 
.center_left{
   width:228px;
   height:459px;
   background: #E9F2FC;

}
.center_center .center_left .center_left_top{
    width:208px;
    height:146px;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 1px solid #D0DBED;
}
.center_left .center_left_top .center_left_top_one{
    width:208px;
    height:26px;
    border-bottom: 1px solid #ccc;
}
.center_left .center_left_top .center_left_top_one ul li{
   font-size: 10px;
   line-height: 26px;
}
.center_left .center_left_top .center_left_top_one ul li a{
   
   float:right;
   margin-top: -25px;
}
.center_left .center_left_top .center_left_top_two{
    width:200px;
    height:140px;
    /*border: 1px solid #ccc;*/
}
.center_left .center_left_top .center_left_top_two .center_img{
    width:90px;
    height:90px;
    margin-top: 10px;
}
.center_left .center_left_top .center_left_top_two .center_fans{
    width:80px;
    height:80px;
   margin-top: -100px;

}
.center_left .center_left_top .center_left_top_two .center_fans ul li{
    margin-top: 15px;
    font-size:16px;
}
.center_left_top_two .center_fans ul li a{
    font-size: 20px;
}
.center_left .center_left_top .center_left_top_two .center_a{
    width:200px;
    height:20px;
    margin-top: 18px;
    font-size: 12px;
}
.center_center .center_left .center_bottom{
    width:208px;
    height:225px;
    /*border:1px solid #ccc;*/
    margin:0 auto;
}
.center_center .center_left .center_bottom ul li{
    margin-top:10px;
    /*margin-left: 20px;*/
}
.center_center .center_left .center_bottom ul li a{
    font-size: 20px;
}