<extend name="Public/table" />

<block name="user">
    <li class="active open">
</block>

<block name="adduser">
    <li class="active">
</block>

<block name="content">
    <form class="form-horizontal" role="form">
                            
        <div class="form-group has-warning" style="height:50px">
            <label for="inputWarning" class="col-xs-12 col-sm-3 control-label no-padding-right"> 用户名 </label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="name" id="inputWarning" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                Warning tip help!
            </div>
        </div>

        <div class="form-group has-error" style="height:50px">
            <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 密　码 </label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="password" id="inputError" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
        </div>

        <div class="form-group has-error" style="height:50px">
            <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right"> 确认密码 </label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="password" name="repassword" id="inputError" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
        </div>

        <div class="form-group has-success" style="height:50px">
            <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right"> email </label>

            <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                    <input type="email" name="email" id="inputSuccess" class="width-100" />
                    <i class="icon-leaf"></i>
                </span>
            </div>
            <div class="help-block col-xs-12 col-sm-reset inline">
                Success tip help!
            </div>
        </div>

        <div style="width:500px;text-align:center">
            <label for="form-field-select-1" style="color:orange;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;角色</label>

            <select class="form-control" id="form-field-select-1" style="width:490px;margin-left:305px;margin-top:-25px;">
                <option value="">&nbsp;</option>
                <option value="管理员">管理员</option>
                <option value="吧主">吧主</option>                      
                <option value="吧管理员">吧管理员</option>                      
            </select>
        </div>

        <div class="clearfix form-actions" style="margin-top:100px;">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="button">
                    <i class="icon-ok bigger-110"></i>
                    确认添加
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新填写
                </button>
            </div>
        </div>

        <div class="hr hr-24"></div>

    </form>
</block>