<extend name="Public/table" />

<block name="where">
    <li>
    <li><a href="#"><{$title}></a></li>
    <li><{$stitle}></li>
    </li>
</block>

<block name="content">
 <div class="table-header"><small><{$stitle}></small></div>
    <form class="form-horizontal" role="form" action="<{:U('User/save')}>" method="post">
   <div class="form-group" style="height:50px;margin-top:20px;">
            <label for="" class="col-xs-12 col-sm-3 control-label no-padding-right"> 用户名 :</label>
              <input type="hidden" name = "id" value = "<{$data.id}>">
            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="text" name="name" id="" class="width-100" value="<{$data.name}>"/>
                    <i class="icon-leaf"></i>
                </span>
            </div>

        </div>
        <div class="form-group" style="height:50px">
            <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right"> email :</label>

            <div class="col-xs-12 col-sm-4">
                <span class="block input-icon input-icon-right">
                    <input type="email" name="email" id="" class="width-100" value="<{$data.email}>"/>
                    <i class="icon-leaf"></i>
                </span>
            </div>
            <div  class="form-group" style="height:20px;font-size:17px;margin-top:50px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">角色 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="status" value="1" <if condition="$data.status eq '1'">checked</if> >会员
                  <input type="radio" style ="margin-left:10px;" name="status" value="2" <if condition="$data.status eq '2'">checked</if> >VIP
                  </span>
                </div>
          </div> 
        <div  class="form-group" style="height:50px;font-size:17px;margin-top:30px;">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">性别 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="sex" value="1" <if condition="$data.sex eq '1'">checked</if> >女
                  <input type="radio" style ="margin-left:10px;" name="sex" value="2" <if condition="$data.sex eq '2'">checked</if> >男
                  <input type="radio" style ="margin-left:10px;" name="sex" value="3" <if condition="$data.sex eq '3'">checked</if> >保密
                  </span>
                </div>
          </div>
          <div  class="form-group" style="height:50px;font-size:17px;margin-top:-10px">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">封号 :</label>
                <div class="col-xs-12 col-sm-5">
                <span class="block input-icon input-icon-right">
                  <input type="radio" style ="margin-left:10px;" name="freeze" value="0" <if condition="$data.freeze eq '0'">checked</if> >正常
                  <input type="radio" style ="margin-left:10px;" name="freeze" value="1" <if condition="$data.freeze eq '1'">checked</if> >封号1分钟
                  <input type="radio" style ="margin-left:10px;" name="freeze" value="2" <if condition="$data.freeze eq '2'">checked</if> >封号一天
                  </span>
                </div>
          </div>
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-info" type="submit">
                    <i class="icon-ok bigger-110"></i>
                    确认修改
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="icon-undo bigger-110"></i>
                    重新修改
                </button>
            </div>

        <div class="hr hr-24"></div>

    </form>
</block>